<div id="about" class="col-sm-12 col-md-12">

<h2>Mission</h2>

  <div class="info_section">
    <p>The Homosaurus is an international linked data vocabulary of LGBTQ terms that supports improved access to LGBTQ resources within cultural institutions. Designed to serve as a companion to broad subject term vocabularies, the Homosaurus is a robust and cutting-edge vocabulary of LGBTQ-specific terminology that enhances the discoverability of LGBTQ resources. </p>
  </div>

 <h2>History</h2>
  <div class="info_section">
    <p>The Homosaurus was originally created in 1997 by <%= link_to "IHLIA LGBT Heritage", "https://www.ihlia.nl/?lang=en", target: "_blank" %> as a Dutch and English gay and lesbian thesaurus that was used as a standalone vocabulary to describe their collections. Over time, terms relating to bisexuality, trans, gender, and intersex concepts were added, but not methodically. This original version of the vocabulary (which we refer to as version 0) had an overly flat structure and, due to the lack of connections, terms were too isolated from one another and therefore easily missed. But, it became apparent that a vocabulary developed by an LGBTQ archives to describe LGBTQ resources could be a powerful tool.</p>

    <p>In 2013, Jack van der Wel, with the help of Ellen Greenblatt, transformed the original Homosaurus into a more inclusive and hierarchical thesaurus (<%= link_to "version 1", vocabs_path, target: "_blank" %>). Hundreds of terms were added and each term was put in relation to others in a hierarchical structure. At this point, the vocabulary only existed as an offline document that was circulated as a Word document or PDF. The results of this major editing project were presented at numerous LGBTQ ALMS Conferences and the vocabulary began to be used by other LGBTQ archives, libraries, and documentation centres throughout the world. </p>

    <p>In 2015, the <%= link_to "Digital Transgender Archive", "https://www.digitaltransgenderarchive.net", target: "_blank" %> (DTA) became one of the handful of LGBTQ archives using version 1 of the Homosaurus to describe resources in their collections. When it became apparent to the DTA’s Director, K.J. Rawson, how useful the vocabulary was and how many institutions could benefit from using it, he collaborated with Jack van der Wel to transform version 1 into an online linked data vocabulary. This dramatically increased the accessibility of the vocabulary and allowed cultural institutions from around the world to link to a common vocabulary.</p>

    <p>In 2016, Rawson and van der Wel then established an Editorial Board to oversee a second major revision of the Homosaurus. The board ultimately decided to transform the Homosaurus from a broader, standalone vocabulary (which included hundreds of non-LGBTQ terms, e.g., “advertising” and “literature”) to a narrower, LGBTQ-specific vocabulary that was intended to supplement existing thesauri (primarily the Library of Congress Subject Headings). This was a major conceptual shift and this revision resulted in version 2, which is the current version of the vocabulary.</p>

    <p>In May, 2019, version 2 of the Homosaurus was released at <%= link_to "www.homosaurus.org", root_path %> as a linked data vocabulary. The Editorial Board is now focused on publicizing the project and making ongoing edits to the vocabulary.</p>
  </div>

<h2>Editorial Board</h2>
  <table class="table_with_image">
    <caption class="sr-only">List of editorial board</caption>
    <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="media">
          <div class="media-left">
            <%= image_tag("about/about_amber_billey.png", class: 'hidden-xs') %>
          </div>

          <div class="media-body">
          <h4 class="media-heading">
            Amber Billey
          </h4>
          <p>
            Amber Billey is the Systems & Metadata Librarian at Bard College. Prior to joining Bard, she was the Metadata Librarian at Columbia University Libraries where she worked on the LD4P project contributing to ontology development, tooling, and MARC to RDF mapping. Her research focuses on ethics and social justice in library metadata and information organization. She can be reached at <%= link_to "@justbilley", "https://twitter.com/justbilley", target: "_blank" %> or <%= link_to "abilley@bard.edu", "mailto:abilley@bard.edu" %>.
          </p>
        </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="media">
          <div class="media-left">
            <%= image_tag("about/about_marika_cifor.jpg", class: 'hidden-xs') %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              Marika Cifor
            </h4>
            <p>
              Marika Cifor is an Assistant Professor in the Information School at the University of Washington. She is a feminist scholar working at the intersections of archival studies and digital studies. Her research investigates how through archives, records, and data produced within digital cultures, individuals and communities marginalized by sexuality, race, class, gender, and HIV-status enact and give substance to their identities, collective memories, and social movements. She can be reached at <%= link_to "@marika_louise", "https://twitter.com/marika_louise", target: "_blank" %> or <%= link_to "mcifor@uw.edu", "mailto:mcifor@uw.edu" %>.
            </p>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="media">
          <div class="media-left">
            <%= image_tag("about/about_chloe_noland.jpg", class: 'hidden-xs') %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              Chloe Noland
            </h4>
            <p>
              Chloe Noland (Secretary) is a librarian currently living and working in Los Angeles, CA. She earned her B.A. from California College of the Arts in Literature & Creative Writing, and then received her MLIS from San Jose State University, where she discovered a love for cataloging and metadata enhancement. Her passion for language, culture, and taxonomies has led her to projects such as the Homosaurus, which she is enormously excited to be a part of.
            </p>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="media">
          <div class="media-left">
            <%= image_tag("about/about_kj_rawson.jpg", class: 'hidden-xs') %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              K.J. Rawson
            </h4>
            <p>
              K.J. Rawson (Co-Chair) is an Associate Professor of English at the College of the Holy Cross. He is also the founder and director of the <%= link_to "Digital Transgender Archive", "https://www.digitaltransgenderarchive.net", target: "_blank" %>, an online database and digital repository of transgender-related historical materials. His scholarship has appeared in Archivaria, Enculturation, Present Tense, QED, RSQ,TSQ, and several edited collections.
            </p>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="media">
          <div class="media-left">
            <%= image_tag("about/about_walter_walker.jpg", class: 'hidden-xs') %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              Walter “Cat” Walker
            </h4>
            <p>
              Walter “Cat” Walker has been the Head Cataloging Librarian at Loyola Marymount University in Los Angeles, California, since 2004.  He is also a Director-at-Large of the American Library Association’s Rainbow Roundtable (ALA RRT).  Cat has been a volunteer at ONE National Gay & Lesbian Archives at the USC Libraries for 25 years, and a member of the Homosaurus Editorial Board since 2016.  A founding member of the AIDS activist group ACT UP Los Angeles, Cat is a radical faerie and longtime resident of West Hollywood, California, with his husband Patrick, and loves cats (of course!).
            </p>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="media">
          <div class="media-left">
            <%= image_tag("about/about_jack_van_der_wel.jpg", class: 'hidden-xs') %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              Jack van der Wel
            </h4>
            <p>
              Jack van der Wel (Co-Chair) is Head Collections and Cataloging at IHLIA LGBT Heritage in Amsterdam. He was one of the founders of Homodok in 1978, a predecessor of IHLIA. He presented the ongoing work on the Homosaurus on several LGBTQ ALMS Conferences since 2011. Contact Information: <%= link_to "jack@ihlia.nl", "mailto:jack@ihlia.nl" %>
            </p>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="media">
          <div class="media-left">
            <%= image_tag("about/about_brian_watson.png", class: 'hidden-xs', alt: "Brian M. Watson in Pouch Cove, Newfoundland") %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              Brian M. Watson
            </h4>
            <p>
              Brian M. Watson is the Archivist-Historian of the American Psychological Association’s Division 44 (Consensual Non-Monogamy), a historian of the book and sexuality, and a graduate archivist at the Kinsey Institute. They hold a master’s degree in History & Culture from Drew University, and are working on a MLIS (soon PhD) focusing on Archives, Digital Humanities, and Metadata at Indiana University Bloomington. They have published on antisex censorship, obscenity and are currently researching queer archives and sexual nomenclature. Contact them at <%= link_to "briwats@iu.edu", "mailto:briwats@iu.edu" %> or <%= link_to "@brimwats", "https://twitter.com/brimwats", target: "_blank" %>.
            </p>
          </div>
        </div>
      </td>
    </tr>


    </tbody>
  </table>


<h2>Gratitude</h2>
<div class="info_section">
<p>The Editorial Board would like to thank the many users of the Homosaurus who have suggested terms and provided feedback over the years. In particular, we are grateful to Orla Egan, Alice Galvinhill, Ellen Greenblatt, Dee Michel, and Lydia Willoughby for their contributions.</p>
</div>

</div>