<% @page_title = t('contact.label') %>
<div id="static_holder" class="container-fluid contact-us">
  <div class="row">
    <div class="col-xs-12 static_holder_content_container">
      <div id="static_holder_content" class="static_holder_content">
        <h2><%= t('contact.label') %></h2>
        <div class="info_section">

        <p><%= t('contact.message_html') %></p>
        <br/>
        <% unless @errors.empty? %>
          <div id="error_explanation" class="alert alert-danger">
            <ul class="errors">
              <% @errors.each do |msg| %>
                <li style="color:red;"><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <br/>
	<div class="container">
        <%= form_tag(contact_path, :id => 'feedback_form', :class => 'w-75 mx-auto') do %>
            <%= recaptcha_v3(action: 'contact', site_key: Settings.recaptcha_site_key_v3) %>
          <div class="row mb-3">
            <label class="col-sm-3 control-label"><%= t('contact.name') %>:</label>
            <div class="col-sm-7 col-md-6">
              <%= text_field_tag :name, params[:name], :class => 'form-control' %>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 control-label"><%= t('contact.email') %></label>
            <div class="col-sm-7 col-md-6">
              <%= text_field_tag :email, params[:email], :class => 'form-control' %>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 control-label"><%= t('contact.topic') %>:</label>
            <div class="col-sm-7 col-md-6">
              <%= select_tag(:topic,
                             options_for_select(['Feedback', 'Broken link / site error', 'Other']),
                             :class => 'form-control', :label => 'Topic:')
              %>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 control-label"><%= t('contact.message') %>:</label>
            <div class="col-sm-7 col-md-6">
              <%= text_area_tag :message, params[:message], :size => '24x8', :class =>  'form-control' %>
            </div>
          </div>

          <% if  1==1 || @show_captcha_v2 %>
            <div class="row mb-3">
	      <label class="col-sm-3 control-label">&nbsp;</label>
              <div class="col-sm-offset-3 col-sm-7 col-md-6">
                <div class="newsletter_checkbox float-end">
                  <%= recaptcha_tags %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row mb-3">
	    <label class="col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-offset-3 col-sm-7 col-md-6">
	      <%= submit_tag(t('contact.send'), :class => 'btn btn-default float-end', id: 'contact_submit') %>
            </div>
          </div>
          <% end %>
	  </div>


        </div>
      </div>

    </div>

  </div>
</div>
