<div id="about" class="col-sm-12 col-md-12">
  <div class="release_title">
    <h2>Homosaurus v. 3.x Updates</h2>
    <h3>Pending Release (In Progress)</h3>
  </div>
  <div class="info_section">
    <p>
      <strong>List of new terms added:</strong>
      <ol>
        <li><%= link_to "LGBTQ+ victims of bullying", "https://homosaurus.org/v3/homoit0001989" %></li>
        <li><%= link_to "Lesbian victims of bullying", "https://homosaurus.org/v3/homoit0001990" %></li>
        <li><%= link_to "Gay victims of bullying", "https://homosaurus.org/v3/homoit0001991" %></li>
        <li><%= link_to "Bisexual victims of bullying", "https://homosaurus.org/v3/homoit0001992" %></li>
        <li><%= link_to "Transgender victims of bullying", "https://homosaurus.org/v3/homoit0001993" %></li>
        <li><%= link_to "Queer victims of bullying", "https://homosaurus.org/v3/homoit0001994" %></li>
        <li><%= link_to "Asexual victims of bullying", "https://homosaurus.org/v3/homoit0001995" %></li>
        <li><%= link_to "Intersex victims of bullying", "https://homosaurus.org/v3/homoit0001996" %></li>
        <li><%= link_to "Two-Spirit victims of bullying", "https://homosaurus.org/v3/homoit0001997" %></li>
        <li><%= link_to "LGBTQ+ survivors of bullying", "https://homosaurus.org/v3/homoit0001998" %></li>
        <li><%= link_to "Lesbian survivors of bullying", "https://homosaurus.org/v3/homoit0001999" %></li>
        <li><%= link_to "Gay survivors of bullying", "https://homosaurus.org/v3/homoit0002000" %></li>
        <li><%= link_to "Bisexual survivors of bullying", "https://homosaurus.org/v3/homoit0002001" %></li>
        <li><%= link_to "Transgender survivors of bullying", "https://homosaurus.org/v3/homoit0002002" %></li>
        <li><%= link_to "Queer survivors of bullying", "https://homosaurus.org/v3/homoit0002003" %></li>
        <li><%= link_to "Asexual survivors of bullying", "https://homosaurus.org/v3/homoit0002004" %></li>
        <li><%= link_to "Intersex survivors of bullying", "https://homosaurus.org/v3/homoit0002005" %></li>
        <li><%= link_to "Two-Spirit survivors of bullying", "https://homosaurus.org/v3/homoit0002006" %></li>
        <li><%= link_to "GRID (Gay-Related Immune Deficiency)", "https://homosaurus.org/v3/homoit0001980" %></li>
        <li><%= link_to "HAART (Highly Active Antiretroviral Therapy)", "https://homosaurus.org/v3/homoit0001981" %></li>
        <li><%= link_to "LGBTQ+ home movies", "https://homosaurus.org/v3/homoit0001982" %></li>
        <li><%= link_to "LGBTQ+ vlogs", "https://homosaurus.org/v3/homoit0001983" %></li>
        <li><%= link_to "Nipple", "https://homosaurus.org/v3/homoit0001984" %></li>
        <li><%= link_to "Aboriginal Australian lesbians", "https://homosaurus.org/v3/homoit0001974" %></li>
        <li><%= link_to "Aboriginal Australian gay men", "https://homosaurus.org/v3/homoit0001975" %></li>
        <li><%= link_to "Aboriginal Australian bisexual people", "https://homosaurus.org/v3/homoit0001976" %></li>
        <li><%= link_to "Aboriginal Australian transgender people", "https://homosaurus.org/v3/homoit0001977" %></li>
        <li><%= link_to "Aboriginal Australian queer people", "https://homosaurus.org/v3/homoit0001978" %></li>
        <li><%= link_to "Aboriginal Australian intersex people", "https://homosaurus.org/v3/homoit0001979" %></li>
        <li><%= link_to "Indigenous lesbians", "https://homosaurus.org/v3/homoit0001968" %></li>
        <li><%= link_to "Indigenous gay men", "https://homosaurus.org/v3/homoit0001969" %></li>
        <li><%= link_to "Indigenous bisexual people", "https://homosaurus.org/v3/homoit0001970" %></li>
        <li><%= link_to "Indigenous transgender people", "https://homosaurus.org/v3/homoit0001971" %></li>
        <li><%= link_to "Indigenous queer people", "https://homosaurus.org/v3/homoit0001972" %></li>
        <li><%= link_to "Indigenous intersex people", "https://homosaurus.org/v3/homoit0001973" %></li>
        <li><%= link_to "Inuit lesbians", "https://homosaurus.org/v3/homoit0001962" %></li>
        <li><%= link_to "Inuit gay men", "https://homosaurus.org/v3/homoit0001963" %></li>
        <li><%= link_to "Inuit bisexual people", "https://homosaurus.org/v3/homoit0001964" %></li>
        <li><%= link_to "Inuit transgender people", "https://homosaurus.org/v3/homoit0001965" %></li>
        <li><%= link_to "Inuit queer people", "https://homosaurus.org/v3/homoit0001966" %></li>
        <li><%= link_to "Inuit intersex people", "https://homosaurus.org/v3/homoit0001967" %></li>
        <li><%= link_to "Kānaka Maoli LGBTQ+ people", "https://homosaurus.org/v3/homoit0001955" %></li>
        <li><%= link_to "Kānaka Maoli lesbians", "https://homosaurus.org/v3/homoit0001956" %></li>
        <li><%= link_to "Kānaka Maoli gay men", "https://homosaurus.org/v3/homoit0001957" %></li>
        <li><%= link_to "Kānaka Maoli bisexual people", "https://homosaurus.org/v3/homoit0001958" %></li>
        <li><%= link_to "Kānaka Maoli transgender people", "https://homosaurus.org/v3/homoit0001959" %></li>
        <li><%= link_to "Kānaka Maoli queer people", "https://homosaurus.org/v3/homoit0001960" %></li>
        <li><%= link_to "Kānaka Maoli intersex people", "https://homosaurus.org/v3/homoit0001961" %></li>
        <li><%= link_to "Demiromantic people", "https://homosaurus.org/v3/homoit0001985" %></li>
        <li><%= link_to "Demiromanticism", "https://homosaurus.org/v3/homoit0001986" %></li>
        <li><%= link_to "Greyromantic people", "https://homosaurus.org/v3/homoit0001987" %></li>
        <li><%= link_to "Greyromanticism", "https://homosaurus.org/v3/homoit0001988" %></li>
        <li><%= link_to "Romani lesbians", "https://homosaurus.org/v3/homoit0001949" %></li>
        <li><%= link_to "Romani gay men", "https://homosaurus.org/v3/homoit0001950" %></li>
        <li><%= link_to "Romani bisexual people", "https://homosaurus.org/v3/homoit0001951" %></li>
        <li><%= link_to "Romani transgender people", "https://homosaurus.org/v3/homoit0001952" %></li>
        <li><%= link_to "Romani queer people", "https://homosaurus.org/v3/homoit0001953" %></li>
        <li><%= link_to "Romani intersex people", "https://homosaurus.org/v3/homoit0001954" %></li>
        <li><%= link_to "Papuan lesbians", "https://homosaurus.org/v3/homoit0001943" %></li>
        <li><%= link_to "Papuan gay men", "https://homosaurus.org/v3/homoit0001944" %></li>
        <li><%= link_to "Papuan bisexual people", "https://homosaurus.org/v3/homoit0001945" %></li>
        <li><%= link_to "Papuan transgender people", "https://homosaurus.org/v3/homoit0001946" %></li>
        <li><%= link_to "Papuan queer people", "https://homosaurus.org/v3/homoit0001947" %></li>
        <li><%= link_to "Papuan intersex people", "https://homosaurus.org/v3/homoit0001948" %></li>
        <li><%= link_to "Pacific Islander American lesbians", "https://homosaurus.org/v3/homoit0001937" %></li>
        <li><%= link_to "Pacific Islander American gay men", "https://homosaurus.org/v3/homoit0001938" %></li>
        <li><%= link_to "Pacific Islander American bisexual people", "https://homosaurus.org/v3/homoit0001939" %></li>
        <li><%= link_to "Pacific Islander American transgender people", "https://homosaurus.org/v3/homoit0001940" %></li>
        <li><%= link_to "Pacific Islander American queer people", "https://homosaurus.org/v3/homoit0001941" %></li>
        <li><%= link_to "Pacific Islander American intersex people", "https://homosaurus.org/v3/homoit0001942" %></li>
        <li><%= link_to "Pacific Islander American LGBTQ+", "https://homosaurus.org/v3/homoit0001812" %></li>
        <li><%= link_to "LGBTQ+ athletes", "https://homosaurus.org/v3/homoit0001929" %></li>
        <li><%= link_to "Lesbian athletes", "https://homosaurus.org/v3/homoit0001930" %></li>
        <li><%= link_to "Gay athletes", "https://homosaurus.org/v3/homoit0001931" %></li>
        <li><%= link_to "Bisexual athletes", "https://homosaurus.org/v3/homoit0001932" %></li>
        <li><%= link_to "Transgender athletes", "https://homosaurus.org/v3/homoit0001933" %></li>
        <li><%= link_to "Queer athletes", "https://homosaurus.org/v3/homoit0001934" %></li>
        <li><%= link_to "Intersex athletes", "https://homosaurus.org/v3/homoit0001935" %></li>
        <li><%= link_to "Two-Spirit athletes", "https://homosaurus.org/v3/homoit0001936" %></li>
        <li><%= link_to "BIPOC", "https://homosaurus.org/v3/homoit0001928" %></li>
        <li><%= link_to "Anti-intersex discrimination", "https://homosaurus.org/v3/homoit0001893" %></li>
        <li><%= link_to "Neophallus", "https://homosaurus.org/v3/homoit0001894" %></li>
        <li><%= link_to "Anti-two-spirit discrimination", "https://homosaurus.org/v3/homoit0001885" %></li>
        <li><%= link_to "LGBTQ+ disabled people", "https://homosaurus.org/v3/homoit0001854" %></li>
        <li><%= link_to "Lesbian disabled people", "https://homosaurus.org/v3/homoit0001855" %></li>
        <li><%= link_to "Gay disabled people", "https://homosaurus.org/v3/homoit0001856" %></li>
        <li><%= link_to "Bisexual disabled people", "https://homosaurus.org/v3/homoit0001857" %></li>
        <li><%= link_to "Transgender disabled people", "https://homosaurus.org/v3/homoit0001858" %></li>
        <li><%= link_to "Queer disabled people", "https://homosaurus.org/v3/homoit0001859" %></li>
        <li><%= link_to "LGBTQ+ hard of hearing people", "https://homosaurus.org/v3/homoit0001860" %></li>
        <li><%= link_to "Lesbian hard of hearing people", "https://homosaurus.org/v3/homoit0001861" %></li>
        <li><%= link_to "Gay hard of hearing people", "https://homosaurus.org/v3/homoit0001862" %></li>
        <li><%= link_to "Bisexual hard of hearing people", "https://homosaurus.org/v3/homoit0001863" %></li>
        <li><%= link_to "Transgender hard of hearing people", "https://homosaurus.org/v3/homoit0001864" %></li>
        <li><%= link_to "Queer hard of hearing people", "https://homosaurus.org/v3/homoit0001865" %></li>
        <li><%= link_to "Lesbian Deaf people", "https://homosaurus.org/v3/homoit0001867" %></li>
        <li><%= link_to "Gay Deaf people", "https://homosaurus.org/v3/homoit0001868" %></li>
        <li><%= link_to "Bisexual Deaf people", "https://homosaurus.org/v3/homoit0001869" %></li>
        <li><%= link_to "Transgender Deaf people", "https://homosaurus.org/v3/homoit0001870" %></li>
        <li><%= link_to "Queer Deaf people", "https://homosaurus.org/v3/homoit0001871" %></li>
        <li><%= link_to "LGBTQ+ blind people", "https://homosaurus.org/v3/homoit0000822" %></li>
        <li><%= link_to "Lesbian blind people", "https://homosaurus.org/v3/homoit0001872" %></li>
        <li><%= link_to "Gay blind people", "https://homosaurus.org/v3/homoit0001873" %></li>
        <li><%= link_to "Bisexual blind people", "https://homosaurus.org/v3/homoit0001874" %></li>
        <li><%= link_to "Transgender blind people", "https://homosaurus.org/v3/homoit0001875" %></li>
        <li><%= link_to "Queer blind people", "https://homosaurus.org/v3/homoit0001876" %></li>
        <li><%= link_to "LGBTQ+ wheelchair users", "https://homosaurus.org/v3/homoit0001877" %></li>
        <li><%= link_to "Lesbian wheelchair users", "https://homosaurus.org/v3/homoit0001886" %></li>
        <li><%= link_to "Gay wheelchair users", "https://homosaurus.org/v3/homoit0001887" %></li>
        <li><%= link_to "Bisexual wheelchair users", "https://homosaurus.org/v3/homoit0001888" %></li>
        <li><%= link_to "Transgender wheelchair users", "https://homosaurus.org/v3/homoit0001889" %></li>
        <li><%= link_to "Queer wheelchair users", "https://homosaurus.org/v3/homoit0001890" %></li>
        <li><%= link_to "Crip", "https://homosaurus.org/v3/homoit0001891" %></li>
        <li><%= link_to "LGBTQ+ Deaf culture", "https://homosaurus.org/v3/homoit0001878" %></li>
        <li><%= link_to "LGBTQ+ people with chronic illnesses", "https://homosaurus.org/v3/homoit0001879" %></li>
        <li><%= link_to "Lesbians with chronic illnesses", "https://homosaurus.org/v3/homoit0001880" %></li>
        <li><%= link_to "Gay men with chronic illnesses", "https://homosaurus.org/v3/homoit0001881" %></li>
        <li><%= link_to "Bisexual people with chronic illnesses", "https://homosaurus.org/v3/homoit0001882" %></li>
        <li><%= link_to "Transgender people with chronic illnesses", "https://homosaurus.org/v3/homoit0001883" %></li>
        <li><%= link_to "Queer people with chronic illnesses", "https://homosaurus.org/v3/homoit0001884" %></li>
        <li><%= link_to "LGBTQ+ asylum seekers", "https://homosaurus.org/v3/homoit0001853" %></li>
        <li><%= link_to "Stand-to-Pee devices", "https://homosaurus.org/v3/homoit0001852" %></li>
        <li><%= link_to "Vaginoplasty", "https://homosaurus.org/v3/homoit0001851" %></li>
        <li><%= link_to "Phalloplasty", "https://homosaurus.org/v3/homoit0001850" %></li>
        <li><%= link_to "Tracheal shave", "https://homosaurus.org/v3/homoit0001849" %></li>
        <li><%= link_to "Vaginectomy", "https://homosaurus.org/v3/homoit0001848" %></li>
        <li><%= link_to "Scrotoplasty", "https://homosaurus.org/v3/homoit0001847" %></li>
        <li><%= link_to "Metoidioplasty", "https://homosaurus.org/v3/homoit0001846" %></li>
        <li><%= link_to "Labiaplasty", "https://homosaurus.org/v3/homoit0001845" %></li>
        <li><%= link_to "Clitoroplasty", "https://homosaurus.org/v3/homoit0001844" %></li>
        <li><%= link_to "Masculinising vocal surgery", "https://homosaurus.org/v3/homoit0001843" %></li>
        <li><%= link_to "Feminising vocal surgery", "https://homosaurus.org/v3/homoit0001842" %></li>
        <li><%= link_to "Chest reconstruction surgery", "https://homosaurus.org/v3/homoit0001841" %></li>
        <li><%= link_to "Top surgery", "https://homosaurus.org/v3/homoit0001840" %></li>
        <li><%= link_to "Facial feminisation surgery", "https://homosaurus.org/v3/homoit0001839" %></li>
        <li><%= link_to "Facial masculinisation surgery", "https://homosaurus.org/v3/homoit0001838" %></li>
        <li><%= link_to "Facial gender affirming surgery", "https://homosaurus.org/v3/homoit0001837" %></li>
        <li><%= link_to "Desistance (Gender)", "https://homosaurus.org/v3/homoit0001836" %></li>
        <li><%= link_to "Retransitioning", "https://homosaurus.org/v3/homoit0001835" %></li>
        <li><%= link_to "Detransitioning", "https://homosaurus.org/v3/homoit0001834" %></li>
        <li><%= link_to "LGBTQ+ culture", "https://homosaurus.org/v3/homoit0001831" %></li>
        <li><%= link_to "Queer culture", "https://homosaurus.org/v3/homoit0001832" %></li>
        <li><%= link_to "Bisexual culture", "https://homosaurus.org/v3/homoit0001833" %></li>
        <li><%= link_to "LGBTQ+ periodicals", "https://homosaurus.org/v3/homoit0001830" %></li>
        <li><%= link_to "Homoeroticism", "https://homosaurus.org/v3/homoit0001806" %></li>
        <li><%= link_to "Content warnings", "https://homosaurus.org/v3/homoit0001807" %></li>
        <li><%= link_to "Costumes", "https://homosaurus.org/v3/homoit0001808" %></li>
        <li><%= link_to "Indigiqueer people", "https://homosaurus.org/v3/homoit0001809" %></li>
        <li><%= link_to "Indigiqueer", "https://homosaurus.org/v3/homoit0001810" %></li>
        <li><%= link_to "Two-spirit community", "https://homosaurus.org/v3/homoit0001811" %></li>
        <li><%= link_to "LGBTQ+ special collections", "https://homosaurus.org/v3/homoit0001813" %></li>
        <li><%= link_to "Chasers", "https://homosaurus.org/v3/homoit0001814" %></li>
        <li><%= link_to "LGBTQ+ immigrants", "https://homosaurus.org/v3/homoit0001815" %></li>
        <li><%= link_to "Critical race theory", "https://homosaurus.org/v3/homoit0001902" %></li>
        <li><%= link_to "Transmisogynoir", "https://homosaurus.org/v3/homoit0001903" %></li>
        <li><%= link_to "Misogynoir", "https://homosaurus.org/v3/homoit0001904" %></li>
        <li><%= link_to "Zaps", "https://homosaurus.org/v3/homoit0001905" %></li>
        <li><%= link_to "Drag performers", "https://homosaurus.org/v3/homoit0001906" %></li>
        <li><%= link_to "LGBTQ+ witches", "https://homosaurus.org/v3/homoit0001907" %></li>
        <li><%= link_to "Lesbian witches", "https://homosaurus.org/v3/homoit0001908" %></li>
        <li><%= link_to "Gay witches", "https://homosaurus.org/v3/homoit0001909" %></li>
        <li><%= link_to "Bisexual witches", "https://homosaurus.org/v3/homoit0001910" %></li>
        <li><%= link_to "Transgender witches", "https://homosaurus.org/v3/homoit0001911" %></li>
        <li><%= link_to "Queer witches", "https://homosaurus.org/v3/homoit0001912" %></li>
        <li><%= link_to "Intersex witches", "https://homosaurus.org/v3/homoit0001913" %></li>
        <li><%= link_to "Two-spirit identity", "https://homosaurus.org/v3/homoit0001914" %></li>
        <li><%= link_to "Monosexual people", "https://homosaurus.org/v3/homoit0001915" %></li>
        <li><%= link_to "Allosexual people", "https://homosaurus.org/v3/homoit0001917" %></li>
        <li><%= link_to "Transgenderqueer identity", "https://homosaurus.org/v3/homoit0001918" %></li>
        <li><%= link_to "Polysexual people", "https://homosaurus.org/v3/homoit0001919" %></li>
        <li><%= link_to "Non-binary identity", "https://homosaurus.org/v3/homoit0001920" %></li>
        <li><%= link_to "Genderqueer identity", "https://homosaurus.org/v3/homoit0001921" %></li>
        <li><%= link_to "Gender non-conforming identity", "https://homosaurus.org/v3/homoit0001922" %></li>
        <li><%= link_to "Demigender identity", "https://homosaurus.org/v3/homoit0001923" %></li>
        <li><%= link_to "Cissexuality", "https://homosaurus.org/v3/homoit0001924" %></li>
        <li><%= link_to "Cisgender identity", "https://homosaurus.org/v3/homoit0001925" %></li>
        <li><%= link_to "Pansexuality", "https://homosaurus.org/v3/homoit0001926" %></li>
        <li><%= link_to "Agender identity", "https://homosaurus.org/v3/homoit0001927" %></li>
      </ol>
    </p>
    <p>
      <strong>List of revised LGBTQ+ terms:</strong><br />
    <ol>
      <li><%= link_to "Takatāpui", "/v3/homoit0000898" %></li>
      <li><%= link_to "LGBTQ+ unhoused people", "/v3/homoit0000879" %></li>
      <li><%= link_to "LGBTQ+ unhoused youth", "/v3/homoit0000880" %></li>
      <li><%= link_to "LGBTQ+ Deaf people", "/v3/homoit0001866" %></li>
      <li><%= link_to "Bottom surgery", "/v3/homoit0000584" %></li>
      <li><%= link_to "Gender affirming surgery", "/v3/homoit0000561" %></li>
      <li><%= link_to "Transitioning (Gender)", "/v3/homoit0001465" %></li>
      <li><%= link_to "Gender binaries", "/v3/homoit0000563" %></li>
      <li><%= link_to "Femininities", "/v3/homoit0000389" %></li>
      <li><%= link_to "Masculinities", "/v3/homoit0000995" %></li>
    </ol>

    </p>
  </div>

  <div class="release_title">
    <h2>Homosaurus v. 3.1 Updates</h2>
    <h3>Released December 2021</h3>
  </div>
  <div class="info_section">
    <p>
      <strong>List of changes:</strong>
      <ol>
        <li>All instances of LGBTQ in terms and acronyms changed to LGBTQ+ (see full list below)</li>
        <li>All terms formatted as [Term] (LGBTQ) changed to LGBTQ+ [term] (see full list below)</li>
        <li>Nudes changed to <%= link_to "Nude art", "/v3/homoit0001052" %></li>
      </ol>
    </p>
    <p>
      <strong>List terms removed:</strong>
    <ol>
      <li><%= link_to "Ephebophilia", "/v3/homoit0000397" %></li>
      <li><%= link_to "Gerontophilia", "/v3/homoit0000586" %></li>
      <li><%= link_to "Hebephilia", "/v3/homoit0000615" %></li>
    </ol>
    </p>
    <p>
      <strong>List of new terms added::</strong>
    <ol>
      <li><%= link_to "2SLGBTQ+", "/v3/homoit0001789" %></li>
      <li><%= link_to "Alloromanticism", "/v3/homoit0001791" %></li>
      <li><%= link_to "Anti-intersex violence", "/v3/homoit0001770" %></li>
      <li><%= link_to "Anti-two-spirit violence", "/v3/homoit0001769" %></li>
      <li><%= link_to "Aromantic authors", "/v3/homoit0001748" %></li>
      <li><%= link_to "Aromantic families", "/v3/homoit0001757" %></li>
      <li><%= link_to "Aromantic fiction", "/v3/homoit0001753" %></li>
      <li><%= link_to "Aromantic parents", "/v3/homoit0001761" %></li>
      <li><%= link_to "Beards", "/v3/homoit0001788" %></li>

      <li><%= link_to "Biromanticism", "/v3/homoit0001792" %></li>
      <li><%= link_to "Bisexual authors", "/v3/homoit0001726" %></li>
      <li><%= link_to "Bisexual autobiographies", "/v3/homoit0001732" %></li>
      <li><%= link_to "Bisexual chefs", "/v3/homoit0001774" %></li>
      <li><%= link_to "Bisexual autobiographies", "/v3/homoit0001732" %></li>
      <li><%= link_to "Bisexual chefs", "/v3/homoit0001774" %></li>
      <li><%= link_to "Bisexual employment", "/v3/homoit0001720" %></li>
      <li><%= link_to "Bisexual-focused businesses", "/v3/homoit0001744" %></li>
      <li><%= link_to "Bisexual-owned businesses", "/v3/homoit0001738" %></li>

      <li><%= link_to "BlaQueer people", "/v3/homoit0001782" %></li>
      <li><%= link_to "Children of aromantic people", "/v3/homoit0001765" %></li>
      <li><%= link_to "Children of asexual people", "/v3/homoit0001766" %></li>
      <li><%= link_to "Children of intersex people", "/v3/homoit0001767" %></li>
      <li><%= link_to "Children of two-spirit people", "/v3/homoit0001768" %></li>
      <li><%= link_to "Clocking (Transgender)", "/v3/homoit0001781" %></li>
      <li><%= link_to "Closeted intersex people", "/v3/homoit0001786" %></li>
      <li><%= link_to "Closeted LGBTQ+ people", "/v3/homoit0001783" %></li>
      <li><%= link_to "Closeted queer people", "/v3/homoit0001784" %></li>

      <li><%= link_to "Closeted two-spirit people", "/v3/homoit0001787" %></li>
      <li><%= link_to "Gay authors", "/v3/homoit0001725" %></li>
      <li><%= link_to "Gay autobiographies", "/v3/homoit0001731" %></li>
      <li><%= link_to "Gay chefs", "/v3/homoit0001773" %></li>
      <li><%= link_to "Gay employment", "/v3/homoit0001719" %></li>
      <li><%= link_to "Gay-focused businesses", "/v3/homoit0001743" %></li>
      <li><%= link_to "Gay-owned businesses", "/v3/homoit0001737" %></li>
      <li><%= link_to "Gender creative", "/v3/homoit0001756" %></li>
      <li><%= link_to "Heteromanticism", "/v3/homoit0001794" %></li>

      <li><%= link_to "Homoromanticism", "/v3/homoit0001793" %></li>
      <li><%= link_to "Intersex authors", "/v3/homoit0001749" %></li>
      <li><%= link_to "Intersex chefs", "/v3/homoit0001777" %></li>
      <li><%= link_to "Intersex families", "/v3/homoit0001759" %></li>
      <li><%= link_to "Intersex fiction", "/v3/homoit0001752" %></li>
      <li><%= link_to "Intersex parents", "/v3/homoit0001763" %></li>
      <li><%= link_to "Lesbian authors", "/v3/homoit0001724" %></li>
      <li><%= link_to "Lesbian autobiographies", "/v3/homoit0001730" %></li>
      <li><%= link_to "Lesbian chefs", "/v3/homoit0001772" %></li>

      <li><%= link_to "Lesbian employment", "/v3/homoit0001718" %></li>
      <li><%= link_to "Lesbian-focused businesses", "/v3/homoit0001742" %></li>
      <li><%= link_to "Lesbian-owned businesses", "/v3/homoit0001736" %></li>
      <li><%= link_to "LGBTQ+ authors", "/v3/homoit0001723" %></li>
      <li><%= link_to "LGBTQ+ autobiographies", "/v3/homoit0001729" %></li>
      <li><%= link_to "LGBTQ+ chefs", "/v3/homoit0001771" %></li>
      <li><%= link_to "LGBTQ+ cultural heritage institutions", "/v3/homoit0001755" %></li>
      <li><%= link_to "LGBTQ+ employment", "/v3/homoit0001717" %></li>
      <li><%= link_to "LGBTQ+-focused businesses", "/v3/homoit0001741" %></li>

      <li><%= link_to "LGBTQ+-owned businesses", "/v3/homoit0001735" %></li>
      <li><%= link_to "Packers (Phallus)", "/v3/homoit0001790" %></li>
      <li><%= link_to "Panromanticism", "/v3/homoit0001795" %></li>
      <li><%= link_to "Queer authors", "/v3/homoit0001728" %></li>
      <li><%= link_to "Queer autobiographies", "/v3/homoit0001734" %></li>
      <li><%= link_to "Queer chefs", "/v3/homoit0001776" %></li>
      <li><%= link_to "Queer employment", "/v3/homoit0001722" %></li>
      <li><%= link_to "Queer-focused businesses", "/v3/homoit0001746" %></li>
      <li><%= link_to "Queer-owned businesses", "/v3/homoit0001740" %></li>

      <li><%= link_to "T4T (Trans for Trans)", "/v3/homoit0001780" %></li>
      <li><%= link_to "Transgender authors", "/v3/homoit0001727" %></li>
      <li><%= link_to "Transgender autobiographies", "/v3/homoit0001733" %></li>
      <li><%= link_to "Transgender chefs", "/v3/homoit0001775" %></li>
      <li><%= link_to "Transgender employment", "/v3/homoit0001721" %></li>
      <li><%= link_to "Transgender-focused businesses", "/v3/homoit0001745" %></li>
      <li><%= link_to "Transgender-owned businesses", "/v3/homoit0001739" %></li>
      <li><%= link_to "Two-spirit authors", "/v3/homoit0001750" %></li>
      <li><%= link_to "Two-spirit chefs", "/v3/homoit0001778" %></li>

      <li><%= link_to "Two-spirit families", "/v3/homoit0001760" %></li>
      <li><%= link_to "Two-spirit families", "/v3/homoit0001760" %></li>
      <li><%= link_to "Two-spirit fiction", "/v3/homoit0001751" %></li>
      <li><%= link_to "Two-spirit parents", "/v3/homoit0001764" %></li>
      <li><%= link_to "Vers", "/v3/homoit0001779" %></li>
    </ol>
    </p>
    <p>
      <strong>List of revised LGBTQ+ terms:</strong><br />
      <a href="#" onClick="$('#3_1_revised_terms').toggleClass('hidden'); return false;">(Click here show or hide the list)</a>
      <ol id="3_1_revised_terms" class="hidden" >
        <li>
          <a href="https://homosaurus.org/v3/homoit0000059">Anti-LGBTQ+ violence</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000068">Arrests of LGBTQ+ people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000226">Buddy care for LGBTQ+ people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000260">Children of LGBTQ+ people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000843">Conception by LGBTQ+ people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000348">Detention of LGBTQ+ people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000349">Detention of LGBTQ+ people under a hospital order</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000614">Health care for LGBTQ+ people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000112">Intolerance towards LGBTQ+ people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000002">LGBTQ+ Aboriginal people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000808">LGBTQ+ action campaigns</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000006">LGBTQ+ activism</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000007">LGBTQ+ activists</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000008">LGBTQ+ actors</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000809">LGBTQ+ adoption</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000810">LGBTQ+ adoptive families</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000811">LGBTQ+ adoptive parenthood</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000812">LGBTQ+ adoptive parents</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000813">LGBTQ+ African religions</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000015">LGBTQ+ African-Americans</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000016">LGBTQ+ Afro-Canadians</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000017">LGBTQ+ Afro-Caribbeans</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000018">LGBTQ+ Afro-Europeans</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000019">LGBTQ+ Afro-Latin Americans</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001540">LGBTQ+ alcoholics</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000048">LGBTQ+ Anglicans</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000066">LGBTQ+ archives</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000815">LGBTQ+ art censorship</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000070">LGBTQ+ artists</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000816">LGBTQ+ arts</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000817">LGBTQ+ Asian religions</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000073">LGBTQ+ Asian-Americans</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000074">LGBTQ+ Asians</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000082">LGBTQ+ atheists</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000818">LGBTQ+ awards</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000097">LGBTQ+ Baptists</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000100">LGBTQ+ bars</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000104">LGBTQ+ beaches</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001614">LGBTQ+ biographies</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000819">LGBTQ+ biological parents</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000820">LGBTQ+ biracial people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000821">LGBTQ+ birth parents</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000208">LGBTQ+ Black people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000822">LGBTQ+ blind people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000823">LGBTQ+ blogs</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000824">LGBTQ+ blood donors</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000825">LGBTQ+ book censorship</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000826">LGBTQ+ book clubs</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000827">LGBTQ+ books</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000216">LGBTQ+ bookshops</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000225">LGBTQ+ Buddhists</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000237">LGBTQ+ Calvinists</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000828">LGBTQ+ cartoons</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000829">LGBTQ+ censorship</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000830">LGBTQ+ centres</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000831">LGBTQ+ challenged books</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000249">LGBTQ+ characters</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000832">LGBTQ+ chatrooms</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000256">LGBTQ+ children</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001541">LGBTQ+ children of alcoholics</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000833">LGBTQ+ choruses</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000834">LGBTQ+ chosen families</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000265">LGBTQ+ Christians</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000835">LGBTQ+ civil disobedience</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000276">LGBTQ+ civil rights</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001624">LGBTQ+ clergy</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000836">LGBTQ+ clubs</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000837">LGBTQ+ co-fathers</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000838">LGBTQ+ co-mothers</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000839">LGBTQ+ co-parenthood</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000840">LGBTQ+ co-parents</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000841">LGBTQ+ comics</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000842">LGBTQ+ communes</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000297">LGBTQ+ communities</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000298">LGBTQ+ community centres</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000300">LGBTQ+ Confucianists</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000844">LGBTQ+ conscientious objection</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000310">LGBTQ+ couples</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000845">LGBTQ+ cruises</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000846">LGBTQ+ dating applications</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000847">LGBTQ+ dating websites</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000330">LGBTQ+ daughters</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000337">LGBTQ+ deaf people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000848">LGBTQ+ death and dying</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000849">LGBTQ+ death notices</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000850">LGBTQ+ defamation campaigns</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000851">LGBTQ+ demonstrations</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000853">LGBTQ+ direct action</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000356">LGBTQ+ discrimination</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000854">LGBTQ+ divorce</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000855">LGBTQ+ domestic violence</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000363">LGBTQ+ dominatrices</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000376">LGBTQ+ drama</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000386">LGBTQ+ Eastern Orthodox Christians</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000857">LGBTQ+ emancipation</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000858">LGBTQ+ emotions</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000859">LGBTQ+ erotic literature</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000860">LGBTQ+ ethnic groups</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000861">LGBTQ+ events</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000863">LGBTQ+ ex-partners</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000420">LGBTQ+ families</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000864">LGBTQ+ family planning</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000865">LGBTQ+ fantasy fiction</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000866">LGBTQ+ fatherhood</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000443">LGBTQ+ fiction</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000867">LGBTQ+ film censorship</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000868">LGBTQ+ film festivals</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000869">LGBTQ+ films</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000870">LGBTQ+ foster families</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000871">LGBTQ+ foster parenthood</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000872">LGBTQ+ foster parents</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000873">LGBTQ+ friendliness</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000874">LGBTQ+ graphic novels</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000876">LGBTQ+ health care centres</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000877">LGBTQ+ health education</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000633">LGBTQ+ Hindus</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000878">LGBTQ+ historical terms</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000879">LGBTQ+ homeless people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000880">LGBTQ+ homeless youth</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001580">LGBTQ+ horror fiction</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000881">LGBTQ+ hotels</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000883">LGBTQ+ immigration rights</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000884">LGBTQ+ imprisonment</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000885">LGBTQ+ incest victims</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000886">LGBTQ+ indigenous people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000660">LGBTQ+ information centres</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000888">LGBTQ+ Internet forums</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000889">LGBTQ+ intimacy</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000676">LGBTQ+ Inuit</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000680">LGBTQ+ Jehovah's Witnesses</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000682">LGBTQ+ Jews</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000890">LGBTQ+ Judaism</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000253">LGBTQ+ Latinx</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000968">LGBTQ+ libraries</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000891">LGBTQ+ literary awards</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001602">LGBTQ+ literary criticism</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000892">LGBTQ+ literary salons</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000972">LGBTQ+ literature</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000893">LGBTQ+ lobbying</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000894">LGBTQ+ love</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000895">LGBTQ+ lovers</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000896">LGBTQ+ magazines</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000897">LGBTQ+ manga</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000899">LGBTQ+ marketing</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000999">LGBTQ+ masters</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000900">LGBTQ+ meeting places</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000901">LGBTQ+ memorials</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000902">LGBTQ+ migrants</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001018">LGBTQ+ mistresses</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000904">LGBTQ+ Mormons</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000905">LGBTQ+ motherhood</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000906">LGBTQ+ motorcycle clubs</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001026">LGBTQ+ movement</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000903">LGBTQ+ multi-racial people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001030">LGBTQ+ museums</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000907">LGBTQ+ museums</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000908">LGBTQ+ musicians</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001032">LGBTQ+ Muslims</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000852">LGBTQ+ mystery and detective fiction</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000814">LGBTQ+ Native American religions</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001037">LGBTQ+ Native Americans</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000558">LGBTQ+ neighbourhoods</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001041">LGBTQ+ newsletters</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001042">LGBTQ+ newspapers</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000909">LGBTQ+ night life</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000910">LGBTQ+ nonviolent resistance</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000911">LGBTQ+ obituaries</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000912">LGBTQ+ Old Catholic Church</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000393">LGBTQ+ older people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000856">LGBTQ+ older people's organisations</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001069">LGBTQ+ Pagans</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000913">LGBTQ+ Papuans</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000914">LGBTQ+ parenthood</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001075">LGBTQ+ parents</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001083">LGBTQ+ partners</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001542">LGBTQ+ partners of alcoholics</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000915">LGBTQ+ people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001543">LGBTQ+ people in Adult Children of Alcoholics</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001544">LGBTQ+ people in Al-Anon</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001545">LGBTQ+ people in Alcoholics Anonymous</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001546">LGBTQ+ people in Cocaine Anonymous</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001547">LGBTQ+ people in Crystal Meth Anonymous</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001548">LGBTQ+ people in Narcotics Anonymous</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001549">LGBTQ+ people in recovery</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001100">LGBTQ+ people in the military</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001101">LGBTQ+ people of colour</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001550">LGBTQ+ people with addictions</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000916">LGBTQ+ people with physical disabilities</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000917">LGBTQ+ people with visual disabilities</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001108">LGBTQ+ persecutions</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000918">LGBTQ+ personal and family law</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000919">LGBTQ+ petitions</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000920">LGBTQ+ phobia</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000921">LGBTQ+ platonic love</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000922">LGBTQ+ plays</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001118">LGBTQ+ poetry</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000013">LGBTQ+ porn films</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000923">LGBTQ+ porn magazines</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001132">LGBTQ+ press</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000887">LGBTQ+ prisoners</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000924">LGBTQ+ prisoners of conscience</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001137">LGBTQ+ Protestants</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001144">LGBTQ+ publishers</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000925">LGBTQ+ pubs</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000926">LGBTQ+ Quakers</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001231">LGBTQ+ radio</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001551">LGBTQ+ recovery groups</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000927">LGBTQ+ refugees</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001237">LGBTQ+ relationships</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000928">LGBTQ+ religions</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000929">LGBTQ+ resorts</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000930">LGBTQ+ restaurants</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000931">LGBTQ+ retirement homes</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000932">LGBTQ+ riots</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000875">LGBTQ+ Roma</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001244">LGBTQ+ Roman Catholics</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001586">LGBTQ+ romance fiction</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000934">LGBTQ+ science fiction</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000935">LGBTQ+ self-defence</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000936">LGBTQ+ self-repression</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000937">LGBTQ+ separation</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001277">LGBTQ+ sex workers</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000938">LGBTQ+ sexual abuse</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000939">LGBTQ+ shamans</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000940">LGBTQ+ Shintoists</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001608">LGBTQ+ short stories</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000941">LGBTQ+ single fathers</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000942">LGBTQ+ single mothers</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000943">LGBTQ+ single parent families</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000944">LGBTQ+ single parents</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001317">LGBTQ+ slang</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000946">LGBTQ+ social media</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000945">LGBTQ+ social parenthood</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000947">LGBTQ+ social processes</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001329">LGBTQ+ sons</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000948">LGBTQ+ spirituality</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000949">LGBTQ+ sporting events</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000950">LGBTQ+ sports clubs</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001552">LGBTQ+ step work</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000951">LGBTQ+ students' clubs</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000952">LGBTQ+ suicide</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000953">LGBTQ+ support groups</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001349">LGBTQ+ survivors of hate crimes</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001350">LGBTQ+ survivors of rape</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001351">LGBTQ+ survivors of sexual abuse</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001352">LGBTQ+ survivors of war</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000954">LGBTQ+ symbols</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000955">LGBTQ+ Taoists</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001359">LGBTQ+ television</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001363">LGBTQ+ theatre</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001364">LGBTQ+ theology</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000956">LGBTQ+ tourism</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000957">LGBTQ+ unrequited love</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000862">LGBTQ+ veterans</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000312">LGBTQ+ victims of crime</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000613">LGBTQ+ victims of hate crimes</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000958">LGBTQ+ victims of rape</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000959">LGBTQ+ victims of sexual abuse</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000961">LGBTQ+ victims of war</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001492">LGBTQ+ victims' rights</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000960">LGBTQ+ visibility</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000962">LGBTQ+ websites</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000963">LGBTQ+ weddings</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000243">LGBTQ+ white people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001521">LGBTQ+ youth</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000964">LGBTQ+ youth centres</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001522">LGBTQ+ youth literature</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000965">LGBTQ+ zines</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001012">Mental health care for LGBTQ+ people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000641">Murders of LGBTQ+ people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001113">Physical health care for LGBTQ+ people</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0000933">Schools for LGBTQ+ youth</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001307">Sexually abused LGBTQ+ children</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001348">Survivors of anti-LGBTQ+ violence</a>
        </li>
        <li>
          <a href="https://homosaurus.org/v3/homoit0001482">Undocumented LGBTQ+ residents</a>
        </li>
      </ol>
    </p>
  </div>


  <div class="release_title">
    <h2>Homosaurus v. 3 Released</h2>
    <h3>Released September 2021</h3>
  </div>
  <div class="info_section">
    <p>
      The Homosaurus V3 has been made available. This initial version is
      the same as Homosaurus V2 but uses a more standard identifier sequence.
      To migrate from Homosaurus V2, there is a "replacedBy" field that points to
      equivalent Homosaurus V3 term. The Homosaurus V3 term added a "replaces" field
      that points to the Homosaurus V2 term. <br /><br />
      The Homosaurus V2 can still be accessed at: <%= link_to "https://homosaurus.org/v2", "https://homosaurus.org/v2", target: "_blank" %>
    </p>
  </div>

  <div class="release_title">
    <h2>Homosaurus v. 2.3 Updates</h2>
    <h3>Released July 2021</h3>
  </div>

  <div class="info_section">
    <p>
      <strong>List of changes:</strong>
      <ol>
        <li>
          "Culturally-specific gender identities" to
          "<%= link_to "Non-Euro-American Gender and Sexual Identities", "/v2/nonEuroAmericanGenderAndSexualIdentities" %>"
        </li>
        <li>
          "Assigned female" to
          "<%= link_to "Assigned female at birth", "/v2/assignedFemaleAtBirth" %>"
        </li>
        <li>
          "Assigned male" to
          "<%= link_to "Assigned male at birth", "/v2/assignedMaleAtBirth" %>"
        </li>
      </ol>
    <strong>List of terms removed:</strong>
    <ol>
      <li>
        LGBTQ Cravings
      </li>
      <li>
        Wommin
      </li>
    </ol>
    <strong>List of new terms added, in brief:</strong>
    <ol>
      <li>
        <%= link_to "Anchor partners", "/v2/anchorPartners" %>
      </li>
      <li>
        <%= link_to "Assigned sex", "/v2/assignedSex" %>
      </li>
      <li>
        <%= link_to "Assigned X at birth", "/v2/assignedXAtBirth" %>
      </li>
      <li>
        <%= link_to "Cheating", "/v2/cheating" %>
      </li>
      <li>
        <%= link_to "Compersion", "/v2/compersion" %>
      </li>
      <li>
        <%= link_to "Compulsory monogamy", "/v2/compulsoryMonogamy" %>
      </li>
      <li>
        <%= link_to "Consensual non-monogamy", "/v2/consensualNonMonogamy" %>
      </li>
      <li>
        <%= link_to "Demigirls", "/v2/demigirls" %>
      </li>
      <li>
        <%= link_to "Demiboys", "/v2/demiboys" %>
      </li>
      <li>
        <%= link_to "Gym subculture", "/v2/gymSubculture" %>
      </li>
      <li>
        <%= link_to "Honeymooning", "/v2/honeymooning" %>
      </li>
      <li>
        <%= link_to "Monogamish", "/v2/monogamish" %>
      </li>
      <li>
        <%= link_to "Nesting partners", "/v2/nestingPartners" %>
      </li>
      <li>
        <%= link_to "Non-monogamous people", "/v2/nonMonogamousPeople" %>
      </li>
      <li>
        <%= link_to "NRE (New Relationship Energy)", "/v2/nre" %>
      </li>
      <li>
        <%= link_to "Paramours", "/v2/paramours" %>
      </li>
      <li>
        <%= link_to "Polyamorous people", "/v2/polyamoroursPeople" %>
      </li>
      <li>
        <%= link_to "Polyfidelity", "/v2/polyfidelity" %>
      </li>
      <li>
        <%= link_to "Relationship anarchy", "/v2/relationshipAnarchy" %>
      </li>
      <li>
        <%= link_to "Scissoring", "/v2/scissoring" %>
      </li>
      <li>
        <%= link_to "Trangenderqueer people", "/v2/transgenderqueerPeople" %>
      </li>
      <li>
        <%= link_to "Tribadism", "/v2/tribadism" %>
      </li>
      <li>
        <%= link_to "Xenogender", "/v2/xenogender" %>
      </li>
      <li>
        <%= link_to "Xenogender people", "/v2/xenogenderPeople" %>
      </li>
    </ol>
    <strong>List of new pronouns-related terms:</strong>
    <ol>
      <li>
        <%= link_to "Neopronouns", "/v2/neopronouns" %>
      </li>
      <li>
        <%= link_to "Ae (pronouns)", "/v2/aePronouns" %>
      </li>
      <li>
        <%= link_to "Co (pronouns)", "/v2/coPronouns" %>
      </li>
      <li>
        <%= link_to "Cy (pronouns)", "/v2/cyPronouns" %>
      </li>
      <li>
        <%= link_to "E (pronouns)", "/v2/ePronouns" %>
      </li>
      <li>
        <%= link_to "Ey (pronouns)", "/v2/eyPronouns" %>
      </li>
      <li>
        <%= link_to "Fe (pronouns)", "/v2/fePronouns" %>
      </li>
      <li>
        <%= link_to "Fae (pronouns)", "/v2/faePronouns" %>
      </li>
      <li>
        <%= link_to "Fey (pronouns)", "/v2/feyPronouns" %>
      </li>
      <li>
        <%= link_to "He (pronouns)", "/v2/hePronouns" %>
      </li>
      <li>
        <%= link_to "Hu (pronouns)", "/v2/huPronouns" %>
      </li>
      <li>
        <%= link_to "It (pronouns)", "/v2/itPronouns" %>
      </li>
      <li>
        <%= link_to "Jee (pronouns)", "/v2/jeePronouns" %>
      </li>
      <li>
        <%= link_to "Kit (pronouns)", "/v2/kitPronouns" %>
      </li>
      <li>
        <%= link_to "Ne/nir (pronouns)", "/v2/neNirPronouns" %>
      </li>
      <li>
        <%= link_to "Ne/nem (pronouns)", "/v2/neNemPronouns" %>
      </li>
      <li>
        <%= link_to "Peh (pronouns)", "/v2/pehPronouns" %>
      </li>
      <li>
        <%= link_to "Per (pronouns)", "/v2/perPronouns" %>
      </li>
      <li>
        <%= link_to "Sie (pronouns)", "/v2/siePronouns" %>
      </li>
      <li>
        <%= link_to "Se (pronouns)", "/v2/sePronouns" %>
      </li>
      <li>
        <%= link_to "She (pronouns)", "/v2/shePronouns" %>
      </li>
      <li>
        <%= link_to "Shi (pronouns)", "/v2/shiPronouns" %>
      </li>
      <li>
        <%= link_to "Si (pronouns)", "/v2/siPronouns" %>
      </li>
      <li>
        <%= link_to "They/them/themselves (pronouns)", "/v2/theyThemThemselvesPronouns" %>
      </li>
      <li>
        <%= link_to "They/them/themself (pronouns)", "/v2/theyThemThemselfPronouns" %>
      </li>
      <li>
        <%= link_to "Thon (pronouns)", "/v2/thonPronouns" %>
      </li>
      <li>
        <%= link_to "Ve/ver (pronouns)", "/v2/veVerPronouns" %>
      </li>
      <li>
        <%= link_to "Ve/vem (pronouns)", "/v2/veVemPronouns" %>
      </li>
      <li>
        <%= link_to "Voi (pronouns)", "/v2/voiPronouns" %>
      </li>
      <li>
        <%= link_to "Vi/ver (pronouns)", "/v2/viVerPronouns" %>
      </li>
      <li>
        <%= link_to "Vi/vim (pronouns)", "/v2/viVimPronouns" %>
      </li>
      <li>
        <%= link_to "Xie (pronouns)", "/v2/xiePronouns" %>
      </li>
      <li>
        <%= link_to "Xe (pronouns)", "/v2/xePronouns" %>
      </li>
      <li>
        <%= link_to "Xey/xem/xeir (pronouns)", "/v2/xeXemXeirPronouns" %>
      </li>
      <li>
        <%= link_to "Xey/xem/xyr (pronouns)", "/v2/xeXemXyrPronouns" %>
      </li>
      <li>
        <%= link_to "Yo (pronouns)", "/v2/yoPronouns" %>
      </li>
      <li>
        <%= link_to "Ze (pronouns)", "/v2/zePronouns" %>
      </li>
      <li>
        <%= link_to "Ze/hir (pronouns)", "/v2/zeHirPronouns" %>
      </li>
      <li>
        <%= link_to "Ze/zem (pronouns)", "/v2/zeZemPronouns" %>
      </li>
      <li>
        <%= link_to "Ze/mer (pronouns)", "/v2/zeMerPronouns" %>
      </li>
      <li>
        <%= link_to "Ze/zed (pronouns)", "/v2/zeZedPronouns" %>
      </li>
      <li>
        <%= link_to "Ze/zir (pronouns)", "/v2/zeZirPronouns" %>
      </li>
      <li>
        <%= link_to "Ze/zem (pronouns)", "/v2/zeZemPronouns" %>
      </li>
      <li>
        <%= link_to "Ze/hir (pronouns)", "/v2/zeHirPronouns" %>
      </li>
      <li>
        <%= link_to "Zme (pronouns)", "/v2/zmePronouns" %>
      </li>
    </ol>
    </p>
  </div>

  <div class="release_title">
    <h2>Homosaurus v. 2.2 Updates</h2>
    <h3>Released December 2020</h3>
  </div>

  <div class="info_section">
    <p>
      <strong>List of new terms added, in brief:</strong>
      <ol>
        <li>
          <%= link_to "Breast augmentation", "/v2/breastAugmentation" %>
        </li>
        <li>
          <%= link_to "Breast fetishism", "/v2/breastFetishism" %>
        </li>
        <li>
          <%= link_to "Breast reduction", "/v2/breastReduction" %>
        </li>
        <li>
          <%= link_to "Clergy (LGBTQ)", "/v2/clergyLGBTQ" %>
        </li>
        <li>
          <%= link_to "DADT relationships", "/v2/DADTRelationships" %>
        </li>
        <li>
          <%= link_to "Greysexuality", "/v2/greysexuality" %>
        </li>
        <li>
          <%= link_to "Greysexual People", "/v2/greysexualPeople" %>
        </li>
        <li>
          <%= link_to "Hard swap", "/v2/hardSwap" %>
        </li>
        <li>
          <%= link_to "Hierarchical nonmonogamy", "/v2/hierarchicalNonmonogamy" %>
        </li>
        <li>
          <%= link_to "Large breasts", "/v2/largeBreasts" %>
        </li>
        <li>
          <%= link_to "Mastectomy", "/v2/mastectomy" %>
        </li>
        <li>
          <%= link_to "Megasexual people", "/v2/megasexualPeople" %>
        </li>
        <li>
          <%= link_to "Megasexuality", "/v2/megasexuality" %>
        </li>
        <li>
          <%= link_to "Partialism", "/v2/partialism" %>
        </li>
        <li>
          <%= link_to "Primary partners", "/v2/primaryPartners" %>
        </li>
        <li>
          <%= link_to "Relationship minorities", "/v2/relationshipMinorities" %>
        </li>
        <li>
          <%= link_to "Relationship orientation", "/v2/relationshipOrientation" %>
        </li>
        <li>
          <%= link_to "Secondary partners", "/v2/secondaryPartners" %>
        </li>
        <li>
          <%= link_to "Small breasts", "/v2/smallBreasts" %>
        </li>
        <li>
          <%= link_to "Soft swap", "/v2/softSwap" %>
        </li>
        <li>
          <%= link_to "Swinging", "/v2/swinging" %>
        </li>
        <li>
          <%= link_to "Trans men", "/v2/transMen" %>
        </li>
        <li>
          <%= link_to "Trans women", "/v2/transWomen" %>
        </li>
      </ol>
    </p>
  </div>


  <div class="release_title">
    <h2>Homosaurus v. 2.1 Updates</h2>
    <h3>Released June 2020</h3>
  </div>

  <div class="info_section">
    <p>
      <strong>List of new terms added, in brief:</strong>
      <ol>
        <li>
          <%= link_to "Adult Children of Alcoholics", "/v2/adultChildrenOfAlcoholics" %>
        </li>
        <li>
          <%= link_to "Al-Anon", "/v2/al-Anon" %>
        </li>
        <li>
          <%= link_to "Alcoholics", "/v2/alcoholics" %>
        </li>
        <li>
          <%= link_to "Alcoholics Anonymous", "/v2/alcoholicsAnonymous" %>
        </li>
        <li>
          <%= link_to "Alcoholism", "/v2/alcoholism" %>
        </li>
        <li>
          <%= link_to "Allosexuality", "/v2/allosexuality" %>
        </li>
        <li>
          <%= link_to "Amatonormativity", "/v2/amatonormativity" %>
        </li>
        <li>
          <%= link_to "Biographies (LGBTQ)", "/v2/biographiesLGBTQ" %>
        </li>
        <li>
          <%= link_to "Bisexual biographies", "/v2/bisexualBiographies" %>
        </li>
        <li>
          <%= link_to "Bisexual comics", "/v2/bisexualComics" %>
        </li>
        <li>
          <%= link_to "Bisexual erotic literature", "/v2/bisexualEroticLiterature" %>
        </li>
        <li>
          <%= link_to "Bisexual fantasy fiction", "/v2/bisexualFantasyFiction" %>
        </li>
        <li>
          <%= link_to "Bisexual horror fiction", "/v2/bisexualHorrorFiction" %>
        </li>
        <li>
          <%= link_to "Bisexual literary criticism", "/v2/bisexualLiteraryCriticism" %>
        </li>
        <li>
          <%= link_to "Bisexual mystery and detective fiction", "/v2/bisexualMysteryAndDetectiveFiction" %>
        </li>
        <li>
          <%= link_to "Bisexual romance fiction", "/v2/bisexualRomanceFiction" %>
        </li>
        <li>
          <%= link_to "Bisexual science fiction", "/v2/bisexualScienceFiction" %>
        </li>
        <li>
          <%= link_to "Bisexual short stories", "/v2/bisexualShortStories" %>
        </li>
        <li>
          <%= link_to "Cocaine addiction", "/v2/cocaineAddiction" %>
        </li>
        <li>
          <%= link_to "Cocaine Anonymous", "/v2/cocaineAnonymous" %>
        </li>
        <li>
          <%= link_to "Comics (LGBTQ)", "/v2/comicsLGBTQ" %>
        </li>
        <li>
          <%= link_to "Compulsory sexuality", "/v2/compulsorySexuality" %>
        </li>
        <li>
          <%= link_to "Crystal meth addiction", "/v2/crystalMethAddiction" %>
        </li>
        <li>
          <%= link_to "Crystal Meth Anonymous", "/v2/crystalMethAnonymous" %>
        </li>
        <li>
          <%= link_to "Erotic literature (LGBTQ)", "/v2/eroticLiteratureLGBTQ" %>
        </li>
        <li>
          <%= link_to "Erotomania", "/v2/erotomania" %>
        </li>
        <li>
          <%= link_to "Fantasy fiction (LGBTQ)", "/v2/fantasyFictionLGBTQ" %>
        </li>
        <li>
          <%= link_to "Gay biographies", "/v2/gayBiographies" %>
        </li>
        <li>
          <%= link_to "Gay comics", "/v2/gayComics" %>
        </li>
        <li>
          <%= link_to "Gay erotic literature", "/v2/gayEroticLiterature" %>
        </li>
        <li>
          <%= link_to "Gay fantasy fiction", "/v2/gayFantasyFiction" %>
        </li>
        <li>
          <%= link_to "Gay horror fiction", "/v2/gayHorrorFiction" %>
        </li>
        <li>
          <%= link_to "Gay literary criticism", "/v2/gayLiteraryCriticism" %>
        </li>
        <li>
          <%= link_to "Gay mystery and detective fiction", "/v2/gayMysteryAndDetectiveFiction" %>
        </li>
        <li>
          <%= link_to "Gay romance fiction", "/v2/gayRomanceFiction" %>
        </li>
        <li>
          <%= link_to "Gay science fiction", "/v2/gayScienceFiction" %>
        </li>
        <li>
          <%= link_to "Gay short stories", "/v2/gayShortStories" %>
        </li>
        <li>
          <%= link_to "Horror fiction (LGBTQ)", "/v2/horrorFictionLGBTQ" %>
        </li>
        <li>
          <%= link_to "Internet sex addiction", "/v2/internetSexAddiction" %>
        </li>
        <li>
          <%= link_to "Leather bars", "/v2/leatherBars" %>
        </li>
        <li>
          <%= link_to "Lesbian biographies", "/v2/lesbianBiographies" %>
        </li>
        <li>
          <%= link_to "Lesbian comics", "/v2/lesbianComics" %>
        </li>
        <li>
          <%= link_to "Lesbian erotic literature", "/v2/lesbianEroticLiterature" %>
        </li>
        <li>
          <%= link_to "Lesbian fantasy fiction", "/v2/lesbianFantasyFiction" %>
        </li>
        <li>
          <%= link_to "Lesbian horror fiction", "/v2/lesbianHorrorFiction" %>
        </li>
        <li>
          <%= link_to "Lesbian literary criticism", "/v2/lesbianLiteraryCriticism" %>
        </li>
        <li>
          <%= link_to "Lesbian mystery and detective fiction", "/v2/lesbianMysteryAndDectectiveFiction" %>
        </li>
        <li>
          <%= link_to "Lesbian romance fiction", "/v2/lesbianRomanceFiction" %>
        </li>
        <li>
          <%= link_to "Lesbian science fiction", "/v2/lesbianScienceFiction" %>
        </li>
        <li>
          <%= link_to "Lesbian short stories", "/v2/lesbianShortStories" %>
        </li>
        <li>
          <%= link_to "LGBTQ alcoholics", "/v2/LGBTQAlcoholics" %>
        </li>
        <li>
          <%= link_to "LGBTQ children of alcoholics", "/v2/LGBTQChildrenOfAlcoholics" %>
        </li>
        <li>
          <%= link_to "LGBTQ partners of alcoholics", "/v2/LGBTQPartnersOfAlcoholics" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Adult Children of Alcoholics", "/v2/LGBTQPeopleInAdultChildrenOfAlcoholics" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Al-Anon", "/v2/LGBTQPeopleInAlAnon" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Alcoholics Anonymous", "/v2/LGBTQPeopleInAlcoholicsAnonymous" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Cocaine Anonymous", "/v2/LGBTQPeopleInCocaineAnonymous" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Crystal Meth Anonymous", "/v2/LGBTQPeopleInCrystalMethAnonymous" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Narcotics Anonymous", "/v2/LGBTQPeopleInNarcoticsAnonymous" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in recovery", "/v2/LGBTQPeopleInRecovery" %>
        </li>
        <li>
          <%= link_to "LGBTQ people with addictions", "/v2/LGBTQPeopleWithAddictions" %>
        </li>
        <li>
          <%= link_to "LGBTQ recovery groups", "/v2/LGBTQRecoveryGroups" %>
        </li>
        <li>
          <%= link_to "LGBTQ step work", "/v2/LGBTQStepWork" %>
        </li>
        <li>
          <%= link_to "Literary criticism (LGBTQ)", "/v2/literaryCriticismLGBTQ" %>
        </li>
        <li>
          <%= link_to "Metamour", "/v2/metamour" %>
        </li>
        <li>
          <%= link_to "Mononormativity", "/v2/mononormativity" %>
        </li>
        <li>
          <%= link_to "Monosexuality", "/v2/monosexuality" %>
        </li>
        <li>
          <%= link_to "Mystery and detective fiction (LGBTQ)", "/v2/mysteryAndDetectiveFictionLGBTQ" %>
        </li>
        <li>
          <%= link_to "Narcotics Anonymous", "/v2/narcoticsAnonymous" %>
        </li>
        <li>
          <%= link_to "Polysexuality", "/v2/polysexuality" %>
        </li>
        <li>
          <%= link_to "Queer biographies", "/v2/queerBiographies" %>
        </li>
        <li>
          <%= link_to "Queer comics", "/v2/queerComics" %>
        </li>
        <li>
          <%= link_to "Queer erotic literature", "/v2/queerEroticLiterature" %>
        </li>
        <li>
          <%= link_to "Queer fantasy fiction", "/v2/queerFantasyFiction" %>
        </li>
        <li>
          <%= link_to "Queer horror fiction", "/v2/queerHorrorFiction" %>
        </li>
        <li>
          <%= link_to "Queer literary criticism", "/v2/queerLiteraryCriticism" %>
        </li>
        <li>
          <%= link_to "Queer mystery and detective fiction", "/v2/queerMysteryAndDetectiveFiction" %>
        </li>
        <li>
          <%= link_to "Queer romance fiction", "/v2/queerRomanceFiction" %>
        </li>
        <li>
          <%= link_to "Queer science fiction", "/v2/queerScienceFiction" %>
        </li>
        <li>
          <%= link_to "Queer short stories", "/v2/queerShortStories" %>
        </li>
        <li>
          <%= link_to "Recovery groups", "/v2/recoveryGroups" %>
        </li>
        <li>
          <%= link_to "Romance fiction (LGBTQ)", "/v2/romanceFictionLGBTQ" %>
        </li>
        <li>
          <%= link_to "Science fiction (LGBTQ)", "/v2/scienceFictionLGBTQ" %>
        </li>
        <li>
          <%= link_to "Short stories (LGBTQ)", "/v2/shortStoriesLGBTQ" %>
        </li>
        <li>
          <%= link_to "Slurs", "/v2/slurs" %>
        </li>
        <li>
          <%= link_to "Stigma", "/v2/stigma" %>
        </li>
        <li>
          <%= link_to "Sobriety", "/v2/sobriety" %>
        </li>
        <li>
          <%= link_to "Trans", "/v2/trans" %>
        </li>
        <li>
          <%= link_to "Transgender biographies", "/v2/transgenderBiographies" %>
        </li>
        <li>
          <%= link_to "Transgender comics", "/v2/transgenderComics" %>
        </li>
        <li>
          <%= link_to "Transgender erotic literature", "/v2/transgenderEroticLiterature" %>
        </li>
        <li>
          <%= link_to "Transgender fantasy fiction", "/v2/transgenderFantasyFiction" %>
        </li>
        <li>
          <%= link_to "Transgender horror fiction", "/v2/transgenderHorrorFiction" %>
        </li>
        <li>
          <%= link_to "Transgender literary criticism", "/v2/transgenderLiteraryCriticism" %>
        </li>
        <li>
          <%= link_to "Transgender mystery and detective fiction", "/v2/transgenderMysteryAndDetectiveFiction" %>
        </li>
        <li>
          <%= link_to "Transgender romance fiction", "/v2/transgenderRomanceFiction" %>
        </li>
        <li>
          <%= link_to "Transgender science fiction", "/v2/transgenderScienceFiction" %>
        </li>
        <li>
          <%= link_to "Transgender short stories", "/v2/transgenderShortStories" %>
        </li>
        <li>
          <%= link_to "Uranism", "/v2/uranism" %>
        </li>
      </ol>
    </p>
  </div>
</div>