<div id="about" class="col-sm-12 col-md-12">
  <div class="release_title">
    <h2>Homosaurus v. 2.2 Updates</h2>
    <h3>Released December 2020</h3>
  </div>

  <div class="info_section">
    <p>
      <strong>List of new terms added, in brief:</strong>
      <ol>
        <li>
          <%= link_to "Breast augmentation", "/v2/breastAugmentation" %>
        </li>
        <li>
          <%= link_to "Breast fetishism", "/v2/breastFetishism" %>
        </li>
        <li>
          <%= link_to "Breast reduction", "/v2/breastReduction" %>
        </li>
        <li>
          <%= link_to "Clergy (LGBTQ)", "/v2/clergyLGBTQ" %>
        </li>
        <li>
          <%= link_to "DADT relationships", "/v2/DADTRelationships" %>
        </li>
        <li>
          <%= link_to "Greysexuality", "/v2/greysexuality" %>
        </li>
        <li>
          <%= link_to "Greysexual People", "/v2/greysexualPeople" %>
        </li>
        <li>
          <%= link_to "Hard swap", "/v2/hardSwap" %>
        </li>
        <li>
          <%= link_to "Hierarchical nonmonogamy", "/v2/hierarchicalNonmonogamy" %>
        </li>
        <li>
          <%= link_to "Large breasts", "/v2/largeBreasts" %>
        </li>
        <li>
          <%= link_to "Mastectomy", "/v2/mastectomy" %>
        </li>
        <li>
          <%= link_to "Megasexual people", "/v2/megasexualPeople" %>
        </li>
        <li>
          <%= link_to "Megasexuality", "/v2/megasexuality" %>
        </li>
        <li>
          <%= link_to "Partialism", "/v2/partialism" %>
        </li>
        <li>
          <%= link_to "Primary partners", "/v2/primaryPartners" %>
        </li>
        <li>
          <%= link_to "Relationship minorities", "/v2/relationshipMinorities" %>
        </li>
        <li>
          <%= link_to "Relationship orientation", "/v2/relationshipOrientation" %>
        </li>
        <li>
          <%= link_to "Secondary partners", "/v2/secondaryPartners" %>
        </li>
        <li>
          <%= link_to "Small breasts", "/v2/smallBreasts" %>
        </li>
        <li>
          <%= link_to "Soft swap", "/v2/softSwap" %>
        </li>
        <li>
          <%= link_to "Swinging", "/v2/swinging" %>
        </li>
        <li>
          <%= link_to "Trans men", "/v2/transMen" %>
        </li>
        <li>
          <%= link_to "Trans women", "/v2/transWomen" %>
        </li>
      </ol>
    </p>
  </div>


  <div class="release_title">
    <h2>Homosaurus v. 2.1 Updates</h2>
    <h3>Released June 2020</h3>
  </div>

  <div class="info_section">
    <p>
      <strong>List of new terms added, in brief:</strong>
      <ol>
        <li>
          <%= link_to "Adult Children of Alcoholics", "/v2/adultChildrenOfAlcoholics" %>
        </li>
        <li>
          <%= link_to "Al-Anon", "/v2/al-Anon" %>
        </li>
        <li>
          <%= link_to "Alcoholics", "/v2/alcoholics" %>
        </li>
        <li>
          <%= link_to "Alcoholics Anonymous", "/v2/alcoholicsAnonymous" %>
        </li>
        <li>
          <%= link_to "Alcoholism", "/v2/alcoholism" %>
        </li>
        <li>
          <%= link_to "Allosexuality", "/v2/allosexuality" %>
        </li>
        <li>
          <%= link_to "Amatonormativity", "/v2/amatonormativity" %>
        </li>
        <li>
          <%= link_to "Biographies (LGBTQ)", "/v2/biographiesLGBTQ" %>
        </li>
        <li>
          <%= link_to "Bisexual biographies", "/v2/bisexualBiographies" %>
        </li>
        <li>
          <%= link_to "Bisexual comics", "/v2/bisexualComics" %>
        </li>
        <li>
          <%= link_to "Bisexual erotic literature", "/v2/bisexualEroticLiterature" %>
        </li>
        <li>
          <%= link_to "Bisexual fantasy fiction", "/v2/bisexualFantasyFiction" %>
        </li>
        <li>
          <%= link_to "Bisexual horror fiction", "/v2/bisexualHorrorFiction" %>
        </li>
        <li>
          <%= link_to "Bisexual literary criticism", "/v2/bisexualLiteraryCriticism" %>
        </li>
        <li>
          <%= link_to "Bisexual mystery and detective fiction", "/v2/bisexualMysteryAndDetectiveFiction" %>
        </li>
        <li>
          <%= link_to "Bisexual romance fiction", "/v2/bisexualRomanceFiction" %>
        </li>
        <li>
          <%= link_to "Bisexual science fiction", "/v2/bisexualScienceFiction" %>
        </li>
        <li>
          <%= link_to "Bisexual short stories", "/v2/bisexualShortStories" %>
        </li>
        <li>
          <%= link_to "Cocaine addiction", "/v2/cocaineAddiction" %>
        </li>
        <li>
          <%= link_to "Cocaine Anonymous", "/v2/cocaineAnonymous" %>
        </li>
        <li>
          <%= link_to "Comics (LGBTQ)", "/v2/comicsLGBTQ" %>
        </li>
        <li>
          <%= link_to "Compulsory sexuality", "/v2/compulsorySexuality" %>
        </li>
        <li>
          <%= link_to "Crystal meth addiction", "/v2/crystalMethAddiction" %>
        </li>
        <li>
          <%= link_to "Crystal Meth Anonymous", "/v2/crystalMethAnonymous" %>
        </li>
        <li>
          <%= link_to "Erotic literature (LGBTQ)", "/v2/eroticLiteratureLGBTQ" %>
        </li>
        <li>
          <%= link_to "Erotomania", "/v2/erotomania" %>
        </li>
        <li>
          <%= link_to "Fantasy fiction (LGBTQ)", "/v2/fantasyFictionLGBTQ" %>
        </li>
        <li>
          <%= link_to "Gay biographies", "/v2/gayBiographies" %>
        </li>
        <li>
          <%= link_to "Gay comics", "/v2/gayComics" %>
        </li>
        <li>
          <%= link_to "Gay erotic literature", "/v2/gayEroticLiterature" %>
        </li>
        <li>
          <%= link_to "Gay fantasy fiction", "/v2/gayFantasyFiction" %>
        </li>
        <li>
          <%= link_to "Gay horror fiction", "/v2/gayHorrorFiction" %>
        </li>
        <li>
          <%= link_to "Gay literary criticism", "/v2/gayLiteraryCriticism" %>
        </li>
        <li>
          <%= link_to "Gay mystery and detective fiction", "/v2/gayMysteryAndDetectiveFiction" %>
        </li>
        <li>
          <%= link_to "Gay romance fiction", "/v2/gayRomanceFiction" %>
        </li>
        <li>
          <%= link_to "Gay science fiction", "/v2/gayScienceFiction" %>
        </li>
        <li>
          <%= link_to "Gay short stories", "/v2/gayShortStories" %>
        </li>
        <li>
          <%= link_to "Horror fiction (LGBTQ)", "/v2/horrorFictionLGBTQ" %>
        </li>
        <li>
          <%= link_to "Internet sex addiction", "/v2/internetSexAddiction" %>
        </li>
        <li>
          <%= link_to "Leather bars", "/v2/leatherBars" %>
        </li>
        <li>
          <%= link_to "Lesbian biographies", "/v2/lesbianBiographies" %>
        </li>
        <li>
          <%= link_to "Lesbian comics", "/v2/lesbianComics" %>
        </li>
        <li>
          <%= link_to "Lesbian erotic literature", "/v2/lesbianEroticLiterature" %>
        </li>
        <li>
          <%= link_to "Lesbian fantasy fiction", "/v2/lesbianFantasyFiction" %>
        </li>
        <li>
          <%= link_to "Lesbian horror fiction", "/v2/lesbianHorrorFiction" %>
        </li>
        <li>
          <%= link_to "Lesbian literary criticism", "/v2/lesbianLiteraryCriticism" %>
        </li>
        <li>
          <%= link_to "Lesbian mystery and detective fiction", "/v2/lesbianMysteryAndDectectiveFiction" %>
        </li>
        <li>
          <%= link_to "Lesbian romance fiction", "/v2/lesbianRomanceFiction" %>
        </li>
        <li>
          <%= link_to "Lesbian science fiction", "/v2/lesbianScienceFiction" %>
        </li>
        <li>
          <%= link_to "Lesbian short stories", "/v2/lesbianShortStories" %>
        </li>
        <li>
          <%= link_to "LGBTQ alcoholics", "/v2/LGBTQAlcoholics" %>
        </li>
        <li>
          <%= link_to "LGBTQ children of alcoholics", "/v2/LGBTQChildrenOfAlcoholics" %>
        </li>
        <li>
          <%= link_to "LGBTQ partners of alcoholics", "/v2/LGBTQPartnersOfAlcoholics" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Adult Children of Alcoholics", "/v2/LGBTQPeopleInAdultChildrenOfAlcoholics" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Al-Anon", "/v2/LGBTQPeopleInAlAnon" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Alcoholics Anonymous", "/v2/LGBTQPeopleInAlcoholicsAnonymous" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Cocaine Anonymous", "/v2/LGBTQPeopleInCocaineAnonymous" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Crystal Meth Anonymous", "/v2/LGBTQPeopleInCrystalMethAnonymous" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in Narcotics Anonymous", "/v2/LGBTQPeopleInNarcoticsAnonymous" %>
        </li>
        <li>
          <%= link_to "LGBTQ people in recovery", "/v2/LGBTQPeopleInRecovery" %>
        </li>
        <li>
          <%= link_to "LGBTQ people with addictions", "/v2/LGBTQPeopleWithAddictions" %>
        </li>
        <li>
          <%= link_to "LGBTQ recovery groups", "/v2/LGBTQRecoveryGroups" %>
        </li>
        <li>
          <%= link_to "LGBTQ step work", "/v2/LGBTQStepWork" %>
        </li>
        <li>
          <%= link_to "Literary criticism (LGBTQ)", "/v2/literaryCriticismLGBTQ" %>
        </li>
        <li>
          <%= link_to "Metamour", "/v2/metamour" %>
        </li>
        <li>
          <%= link_to "Mononormativity", "/v2/mononormativity" %>
        </li>
        <li>
          <%= link_to "Monosexuality", "/v2/monosexuality" %>
        </li>
        <li>
          <%= link_to "Mystery and detective fiction (LGBTQ)", "/v2/mysteryAndDetectiveFictionLGBTQ" %>
        </li>
        <li>
          <%= link_to "Narcotics Anonymous", "/v2/narcoticsAnonymous" %>
        </li>
        <li>
          <%= link_to "Polysexuality", "/v2/polysexuality" %>
        </li>
        <li>
          <%= link_to "Queer biographies", "/v2/queerBiographies" %>
        </li>
        <li>
          <%= link_to "Queer comics", "/v2/queerComics" %>
        </li>
        <li>
          <%= link_to "Queer erotic literature", "/v2/queerEroticLiterature" %>
        </li>
        <li>
          <%= link_to "Queer fantasy fiction", "/v2/queerFantasyFiction" %>
        </li>
        <li>
          <%= link_to "Queer horror fiction", "/v2/queerHorrorFiction" %>
        </li>
        <li>
          <%= link_to "Queer literary criticism", "/v2/queerLiteraryCriticism" %>
        </li>
        <li>
          <%= link_to "Queer mystery and detective fiction", "/v2/queerMysteryAndDetectiveFiction" %>
        </li>
        <li>
          <%= link_to "Queer romance fiction", "/v2/queerRomanceFiction" %>
        </li>
        <li>
          <%= link_to "Queer science fiction", "/v2/queerScienceFiction" %>
        </li>
        <li>
          <%= link_to "Queer short stories", "/v2/queerShortStories" %>
        </li>
        <li>
          <%= link_to "Recovery groups", "/v2/recoveryGroups" %>
        </li>
        <li>
          <%= link_to "Romance fiction (LGBTQ)", "/v2/romanceFictionLGBTQ" %>
        </li>
        <li>
          <%= link_to "Science fiction (LGBTQ)", "/v2/scienceFictionLGBTQ" %>
        </li>
        <li>
          <%= link_to "Short stories (LGBTQ)", "/v2/shortStoriesLGBTQ" %>
        </li>
        <li>
          <%= link_to "Slurs", "/v2/slurs" %>
        </li>
        <li>
          <%= link_to "Stigma", "/v2/stigma" %>
        </li>
        <li>
          <%= link_to "Sobriety", "/v2/sobriety" %>
        </li>
        <li>
          <%= link_to "Trans", "/v2/trans" %>
        </li>
        <li>
          <%= link_to "Transgender biographies", "/v2/transgenderBiographies" %>
        </li>
        <li>
          <%= link_to "Transgender comics", "/v2/transgenderComics" %>
        </li>
        <li>
          <%= link_to "Transgender erotic literature", "/v2/transgenderEroticLiterature" %>
        </li>
        <li>
          <%= link_to "Transgender fantasy fiction", "/v2/transgenderFantasyFiction" %>
        </li>
        <li>
          <%= link_to "Transgender horror fiction", "/v2/transgenderHorrorFiction" %>
        </li>
        <li>
          <%= link_to "Transgender literary criticism", "/v2/transgenderLiteraryCriticism" %>
        </li>
        <li>
          <%= link_to "Transgender mystery and detective fiction", "/v2/transgenderMysteryAndDetectiveFiction" %>
        </li>
        <li>
          <%= link_to "Transgender romance fiction", "/v2/transgenderRomanceFiction" %>
        </li>
        <li>
          <%= link_to "Transgender science fiction", "/v2/transgenderScienceFiction" %>
        </li>
        <li>
          <%= link_to "Transgender short stories", "/v2/transgenderShortStories" %>
        </li>
        <li>
          <%= link_to "Uranism", "/v2/uranism" %>
        </li>
      </ol>
    </p>
  </div>
</div>