<% @page_title = "Login -  Homosaurus" %>
<div id="static_holder" class="container-fluid contact-us">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 static_holder_content_container">
      <div id="static_holder_content" class="static_holder_content">
        <h2>Sign up</h2>

        <div class="well"><strong>Why Register?</strong><br />Registration currently gives one the ability to "Favorite" items to one's account.</div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <label class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-6">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Password:</label>
            <div class="col-sm-6">
              <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control' %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Password Confirmation:</label>
            <div class="col-sm-6">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6 col-md-6">
              <%= f.submit "Sign Up", :class => 'btn btn-default pull-right', id: 'contact_submit' %>
            </div>
          </div>
        <% end %>

        Already have an account? <strong><%= link_to "Sign in.", new_session_path(resource_name) %></strong>


      </div>
    </div>
  </div>
</div>
