<br/>
<br/>

<%= form_tag(search_results_path, :method => "get", id: "search-form", class: 'form-inline') do %>
    <%= text_field_tag :term, params[:term], placeholder: "Search Vocab", class: 'form-control', placeholder: 'Enter Search Term' %>
    <%= submit_tag "Search", class: 'form-control  btn-primary'%>
<% end %>

<% if params[:term].present? %>
    <h2>Search Results for: <%= params[:term] %></h2>


    <% @terms.each do |term| %>
        <div class="panel panel-primary">
          <div class="panel-heading">


            <%= link_to term['prefLabel_tesim'].first, vocab_path(:id => term['id'].split('/').last, :search_term=>params[:term]) %>
          </div>
          <% if term['altLabel_tesim'].present? or term['description_tesim'].present? %>
          <div class="panel-body">
            <% if term['altLabel_tesim'].present? %>
                <strong>Alternative Labels:</strong> <%= term['altLabel_tesim'].join(',') %><br />
            <% end %>
            <% if term['description_tesim'].present? %>
                <strong>Description:</strong> <%= term['description_tesim'].first %>
            <% end %>



          </div>
          <% end %>
        </div>


    <% end %>
<% end %>


