<h2><%= @homosaurus["prefLabel_tesim"] %> (http://homosaurus.org/terms/<%= @homosaurus["id"] %>)</h2>

<p><div style="clear:both;">
  <% if params[:from_q].present? %>
      <%= button_to "Back To Search Results", search_results_path, :method => "get", class: 'btn btn-default', style:"float:left;", params: { :q=>params[:from_q]} %>
  <% else %>
      <%= button_to "Back To Index", vocabs_path, :method => "get", class: 'btn btn-default', style:"float:left;" %>
  <% end %>

</div>
<br/>
<br/>
<br/>
</p>

<% @homosaurus.show_fields.each do |field| %>
    <% term_values =  @homosaurus.get_values(field) %>
    <% if term_values.first.present? %>
        <% if field.to_s == 'identifier' %>
            <div class="panel panel-primary">
        <% else %>
            <div class="panel panel-primary">
        <% end %>

          <div class="panel-heading">

            <%= Homosaurus.getLabel(field.to_s).html_safe %>
          </div>
          <div class="panel-body">
            <dl style="margin-bottom:0px">
            <% term_values.each do |value| %>
                  <dd><%= value %></dd>
            <% end %>
            </dl>
          </div>
        </div>
    <% end %>

<% end %>

<% term_values =  @homosaurus.broader %>
<% if term_values.first.present? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <%= Homosaurus.getLabel('broader').html_safe %>
      </div>
      <div class="panel-body">
        <dl style="margin-bottom:0px">
          <% term_values.each do |value| %>
              <dd><%= link_to "#{value.prefLabel}", vocab_path(:id => value.id.split('/').last)%></dd>
          <% end %>
        </dl>
      </div>
    </div>
<% end %>

<% term_values =  @homosaurus.related %>
<% if term_values.first.present? %>
<div class="panel panel-danger">
  <div class="panel-heading">
    <%= Homosaurus.getLabel('related').html_safe %>
  </div>
  <div class="panel-body">
    <dl style="margin-bottom:0px">
      <% term_values.each do |value| %>
          <dd><%= link_to "#{value.prefLabel}", vocab_path(:id => value.id.split('/').last)%></dd>
      <% end %>
    </dl>
  </div>
</div>
<% end %>

<% term_values =  @homosaurus.narrower %>
<% if term_values.first.present? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <%= Homosaurus.getLabel('narrower').html_safe %>
      </div>
      <div class="panel-body">
        <dl style="margin-bottom:0px">
          <% term_values.each do |value| %>
              <dd><%= link_to "#{value.prefLabel}", vocab_path(:id => value.id.split('/').last)%></dd>
          <% end %>
        </dl>
      </div>
    </div>
<% end %>

<h3>Hierarchy Display:</h3>
  <% if @homosaurus.broader.first.blank? %>
    <div style="padding-left:0px;">No Broader Term</div>
  <% else %>
    <% @homosaurus.broader.each do |broader| %>
        <div style="padding-left:0px;"><%= link_to "#{broader.prefLabel}", vocab_path(:id => broader.id.split('/').last)%></div>
    <% end %>
  <% end %>


<div style="padding-left:40px;"><strong><%= @homosaurus.prefLabel %></strong></div>

          <% @homosaurus.narrower.each do |narrower| %>
         <div style="padding-left:80px;"><%= link_to "#{narrower.prefLabel}", vocab_path(:id => narrower.id.split('/').last)%></div>
          <% end %>

<br />
<p><br/><strong>Other Formats:</strong> <%= link_to "N-Triples", request.original_url.split('?').first + '.nt'  %>, <%= link_to "JSON-LD", request.original_url.split('?').first + '.jsonld' %>, <%= link_to "TTL", request.original_url.split('?').first + '.ttl' %></p>
