<%
  release_page ||= false
  discussion_page ||= false
  child_edit ||= false
  is_new = edit_request.previous().nil?
  redirect = edit_request.my_changes[Relation::Redirects_to]
  is_redirect = (redirect and redirect.length > 0)
  pref_label = edit_request.my_changes[2].length > 0 ? edit_request.my_changes[2][0][2] : edit_request.term.pref_label
  is_linked = ((edit_request.my_changes[Relation::Broader].length > 0) or (edit_request.my_changes[Relation::Narrower].length > 0))
  is_linked_new = is_linked
  Relation.pluck(:id).each do |r|
    next if r == Relation::Broader or r == Relation::Narrower
    if edit_request.my_changes[r].count > 0
      is_linked_new = false
    end
end
  release_identifier = edit_request.version_release.release_identifier
  if release_identifier == "unversioned"
    release_identifier = "?"
  end
  er_status = edit_request.vote_status
%>

<div class="card container ">
  <div class="card-header collapsed row" data-bs-toggle="collapse" aria-expanded="false"
       href="#<%= edit_request.id %>" aria-controls="<%= edit_request.id %>">

    <% unless child_edit %>
      <div class="col col-1">
        <% if not release_page %>
	  <span class="badge text-bg-dark">V. <%= release_identifier %></span>
	<% elsif is_new %>
	  <span class="badge text-bg-success"><%= t("status.new_term_label") %></span>
	<% elsif is_redirect %>
	  <span class="badge text-bg-warning"><%= t("status.redirected") %></span>
	<% elsif is_linked_new %>
	  <span class="badge text-bg-info"><%= t("status.linked_label") %></span>
	<% else %>
	  <span class="badge text-bg-primary"><%= t("status.modified") %></span>
	<% end %>
	<% if current_user and not discussion_page %>
	  <span class="badge text-bg-<%= er_status == 'approved' ? 'success' : 'warning' %>">
	  <%= t("status.#{er_status}") %>
	  </span>
	<% end %>
      </div>
    <% else %>
      <div class="col col-3">
	<span class="badge text-bg-info"><%= edit_request.creator.nil? ? 'MigrationBot' : edit_request.creator.email %></span>
      </div>
    <% end %>
    <% if release_page %>
        <div class="col col-4">
	  <%= pref_label %> <br>[<%= edit_request.my_changes["identifier"] %>]
	</div>
    <% end %>
    <div class="col col-2 p-0">
      <%= edit_request.created_at.to_s %>
    </div>
    <div class="col col-auto me-auto"></div>
    <div class="col col-4 p-0">
      <div class="d-inline-flex gap-1">
	<% if release_page and not child_edit %>
          <%= button_to t("edit_request.view_term"),
	      vocabulary_show_path(
	      vocab_id: edit_request.version_release.vocabulary.identifier,
	      id: edit_request.my_changes["identifier"]),
	      :method => "get", class: 'btn btn-link border-black', form_class: 'btn p-0' %>
	<% end %>
	<% if current_user.present? and not discussion_page and not child_edit %>
          <%= button_to t("edit_request.view_discussion"),
	      edit_request_discussion_path(
	        vocab_id: edit_request.version_release.vocabulary.identifier,
	        id: edit_request.my_changes["identifier"],
	        release_id: edit_request.version_release.release_identifier),
	      :method => "get", class: 'btn btn-link border-black', form_class: 'btn p-0' %>
       <% end %>
      </div>
    </div>
    <div class="col col-auto collapse-icon ml-auto"></div>
  </div>

  <div class="card-body collapse" id="<%= edit_request.id %>">
    <% identifier = edit_request.my_changes["identifier"]
       prev_term = edit_request.previous() %>
    <% relations.each do |r| %>
      <% changes = edit_request.my_changes[r.id] %>
      <% if not changes.nil? and changes.length > 0 %>
        <h4><%= t("relations.#{r.id}") %></h4>
	<table class="table">
	  <% changes.each do |c| %>
	    <% change_class = c[0] == "+" ? "success" : "danger"
	       change_icon = c[0] == "+" ? "plus" : "minus"
	       lang = (c[1].nil? ? "All" : Language.find_by(id: c[1]).name)
	       val = c[2]
	       %>
	    <tr class="table-<%= change_class %>">
	      <td class="col col-1"><h5 class="text-<%= change_class %>"><%= c[0] %></h5> </td>
	      <td class="col col-1"><span class="well_language"><%= lang %></span></td>
	      <td class="col col-8">
		<% if r.links_to == 1 %>
		  <a href="<%= Term.find_by(id: val).uri_localized %>"> <%= Term.find_by(id: val).pref_label_localized.data  %> [<%= Term.find_by(id: val).identifier %>] </a>
		<% else %>
		  <%= val %>
		<% end %>
	      </td>
	    </tr>
	  <% end %>
	</table>
      <% end %>
    <% end %>
    <% ['identifier', 'uri'].each do |field| %>
      <% cur = edit_request.my_changes[field]
	 prev_term = edit_request.previous() %>
      <% if prev_term.nil? or (prev_term.my_changes[field] != cur) %>
        <h4><%= field == "identifier" ? t("relations.identifier") : field.capitalize %></h4>
	<table class="table">
	  <% unless prev_term.nil? %>
          <tr class="table-danger">
	    <td class="col col-1"><h5 class="text-danger">-</h5> </td>
	    <td class="col col-1"><span class="well_language">All</span></td>
	    <td class="col col-8"><%= prev_term.my_changes[field] %></td>
	  </tr>
	  <% end %>
	  <tr class="table-success">
	    <td class="col col-1"><h5 class="text-success">+</h5> </td>
	    <td class="col col-1"><span class="well_language">All</span></td>
	    <td class="col col-8"><%= cur %></td>
	  </tr>
	</table>
      <% end %>
    <% end %>
    <% if not child_edit and current_user.present? and edit_request.children.count %>
      <div class="border-top my-3"></div>
      <% edit_request.children.each do |erc| %>
        <%= render partial:"partials/edit_request_partial", locals: {edit_request: erc, relations: Relation.all, child_edit: true} %>
      <% end %>
    <% end %>
  </div>
</div>
