<h1>Homosaurus Vocabulary Terms</h1>

<h4>Current Term List</h4>
<ul>
  <% @terms.each do |term| %>
      <li>
        <%= link_to term['prefLabel_tesim'].first, vocabs_v2_path(:id => term['id'].split('/').last) %>
      </li>
  <% end %>
</ul>

<p><br/><strong>Other Formats:</strong> <%= link_to "N-Triples", request.original_url + '.nt'  %>, <%= link_to "JSON-LD", request.original_url + '.jsonld' %>, <%= link_to "TTL", request.original_url + '.ttl' %>, <%= link_to "CSV", request.original_url + '.csv' %>

