<h2><%= @homosaurus["prefLabel_tesim"].first %> (http://homosaurus.org/v2/<%= @homosaurus["identifier_ssi"] %>)</h2>

<p><div style="clear:both;">
  <% if params[:from_q].present? %>
      <%= button_to "Back To Search Results", search_results_v2_path, :method => "get", class: 'btn btn-default', style:"float:left;", params: { :q=>params[:from_q]} %>
  <% else %>
      <%= button_to "Back To Index", vocabs_v2_index_path, :method => "get", class: 'btn btn-default', style:"float:left;" %>
  <% end %>

</div>
<br/>
<br/>
<br/>
</p>

<% HomosaurusV2Subject.show_fields.each do |field| %>
    <% term_values =  HomosaurusV2Subject.get_values(field, @homosaurus) %>
    <% if term_values.first.present? %>
        <% if field.to_s == 'identifier' %>
            <div class="panel panel-primary">
        <% else %>
            <div class="panel panel-primary">
        <% end %>

          <div class="panel-heading">

            <%= HomosaurusV2Subject.getLabel(field.to_s).html_safe %>
          </div>
          <div class="panel-body">
            <dl style="margin-bottom:0px">
            <% term_values.each do |value| %>
                  <dd><%= value %></dd>
            <% end %>
            </dl>
          </div>
        </div>
    <% end %>

<% end %>

<% term_values = HomosaurusV2Subject.get_values('broader', @homosaurus) %>
<% if term_values.first.present? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <%= HomosaurusV2Subject.getLabel('broader').html_safe %>
      </div>
      <div class="panel-body">
        <dl style="margin-bottom:0px">
          <% term_values.each do |value| %>
            <% obj = HomosaurusV2Subject.find_by(identifier: value) %>
              <dd><%= link_to "#{obj.label}", vocabs_v2_path(:id => value.split('/').last)%></dd>
          <% end %>
        </dl>
      </div>
    </div>
<% end %>

<% term_values = HomosaurusV2Subject.get_values('related', @homosaurus) %>
<% if term_values.first.present? %>
<div class="panel panel-danger">
  <div class="panel-heading">
    <%= HomosaurusV2Subject.getLabel('related').html_safe %>
  </div>
  <div class="panel-body">
    <dl style="margin-bottom:0px">
      <% term_values.each do |value| %>
        <% obj = HomosaurusV2Subject.find_by(identifier: value) %>
          <dd><%= link_to "#{obj.label}", vocabs_v2_path(:id => value.split('/').last)%></dd>
      <% end %>
    </dl>
  </div>
</div>
<% end %>

<% term_values =  HomosaurusV2Subject.get_values('narrower', @homosaurus) %>
<% if term_values.first.present? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <%= HomosaurusV2Subject.getLabel('narrower').html_safe %>
      </div>
      <div class="panel-body">
        <dl style="margin-bottom:0px">
          <% term_values.each do |value| %>
            <% obj = HomosaurusV2Subject.find_by(identifier: value) %>
              <dd><%= link_to "#{obj.label}", vocabs_v2_path(:id => value.split('/').last)%></dd>
          <% end %>
        </dl>
      </div>
    </div>
<% end %>

<h3>Hierarchy Display:</h3>
  <% if  HomosaurusV2Subject.get_values('broader', @homosaurus).first.blank? %>
    <div style="padding-left:0px;">No Broader Term</div>
  <% else %>
    <%  HomosaurusV2Subject.get_values('broader', @homosaurus).each do |broader| %>
       <% obj = HomosaurusV2Subject.find_by(identifier: broader) %>
        <div style="padding-left:0px;"><%= link_to "#{obj.label}", vocabs_v2_path(:id => broader.split('/').last)%></div>
    <% end %>
  <% end %>


<div style="padding-left:40px;"><strong><%=  HomosaurusV2Subject.get_values('prefLabel', @homosaurus).first %></strong></div>

          <%  @homosaurus_obj.narrower.each do |narrower| %>
           <% obj = HomosaurusV2Subject.find_by(identifier: narrower) %>
         <div style="padding-left:80px;"><%= link_to "#{obj.label}", vocabs_v2_path(:id => narrower.split('/').last)%></div>
          <% end %>

<br />
<p><br/><strong>Other Formats:</strong> <%= link_to "N-Triples", request.original_url.split('?').first + '.nt'  %>, <%= link_to "JSON-LD", request.original_url.split('?').first + '.jsonld' %>, <%= link_to "TTL", request.original_url.split('?').first + '.ttl' %></p>
