<div id="about" class="col-sm-12 col-md-12">
  <div class="release_title">
    <h2>Homosaurus v. <%= @release.release_identifier %> Updates</h2>
    <h3>Released <%= @release.release_date %></h3>
  </div>
  <div class="info_section">
    <% @release.edit_requests.each do |er| %>
      <% if er.previous().nil? %>
        <%= render partial:"partials/edit_request_partial", locals: {edit_request: er, relations: Relation.all, release_page: true} %>
      <% end %>
    <% end %>

    <% @release.edit_requests.each do |er| %>
      <% if (not er.previous().nil?) and (not er.my_changes[12] or er.my_changes[12].length == 0) %>
        <%= render partial:"partials/edit_request_partial", locals: {edit_request: er, relations: Relation.all, release_page: true} %>
      <% end %>
    <% end %>

    <% @release.edit_requests.each do |er| %>
      <% if (not er.previous().nil?) and (er.my_changes[12] and er.my_changes[12].length > 0) %>
        <%= render partial:"partials/edit_request_partial", locals: {edit_request: er, relations: Relation.all, release_page: true} %>
      <% end %>
    <% end %>
  </div>
</div>

<p><br/><strong>Other Formats:</strong> <%= link_to "N-Triples", request.original_url + '.nt'  %>, <%= link_to "JSON-LD", request.original_url + '.jsonld' %>, <%= link_to "TTL", request.original_url + '.ttl' %>, <%= link_to "CSV (Split by Tabs only)", request.original_url + '.csv' %>, <%= link_to "XML", request.original_url + '.xml' %>
<p><br/><strong>Experimental Upcoming Formats With Language Labels:</strong> <%= link_to "N-Triples", request.original_url + '.ntV2'  %>, <%= link_to "JSON-LD", request.original_url + '.jsonldV2' %>, <%= link_to "TTL", request.original_url + '.ttlV2' %>
