<br/>
<br/>

<%= form_tag(search_results_v3_path, :method => "get", id: "search-form", class: 'form-inline', enforce_utf8: false) do %>
    <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Enter Search Term' %>
    <%= submit_tag "Search", name: nil, class: 'form-control  btn-primary'%>
<% end %>

<% if params[:q].present? %>
    <h2>Search Results for: <%= params[:q] %></h2>


    <% @terms.each do |term| %>
        <div class="panel panel-primary">
          <div class="panel-heading">


            <%= link_to term['prefLabel_tesim'].first, vocabs_v3_path(:id => term['id'].split('/').last, :from_q=>params[:q]) %>
          </div>
          <% if term['altLabel_tesim'].present? or term['description_tesim'].present? %>
          <div class="panel-body">
            <% if term['altLabel_tesim'].present? %>
                <strong>Alternative Labels:</strong> <%= term['altLabel_tesim'].join(', ') %><br />
            <% end %>
            <% if term['description_tesim'].present? %>
                <strong>Description:</strong> <%= term['description_tesim'].first %>
            <% end %>



          </div>
          <% end %>
        </div>


    <% end %>

    <p><br/><strong>Other Formats:</strong> <%= link_to "N-Triples", request.original_url.gsub('/search/v3', '/search/v3.nt')  %>, <%= link_to "JSON-LD", request.original_url.gsub('/search/v3', '/search/v3.jsonld') %>, <%= link_to "TTL", request.original_url.gsub('/search/v3', '/search/v3.ttl') %>


<% end %>


