<!DOCTYPE html>
<html>
<head>
  <title>Homosaurus Vocabulary Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Google Analytics -->
  <%= render partial: '/ga', formats: [:html] %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <% if 1==0 %>
      <div class="header_logo">
        <%= link_to "homosaurus.org", root_path, :id => 'header_logo_link' %>
      </div>
      <% end  %>
      <%= link_to "homosaurus.org", '/', class: "navbar-brand"%>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", '/' %></li>

        <% if request.original_url.include? '/terms' %>
          <li><%= link_to "V1 Vocabulary", vocabulary_index_path(id: "terms") %></li>
        <% elsif request.original_url.include? '/v2' %>
          <li><%= link_to "V2 Vocabulary", vocabulary_index_path(id: "v2") %></li>
        <% else %>
          <li><%= link_to "Vocabulary", vocabulary_index_path(id: "v3") %></li>
        <% end %>


        <% if request.original_url.include? '/terms' %>
          <li><%= link_to "V1 Search", vocabulary_search_results_path(id: "terms") %></li>
        <% elsif request.original_url.include? '/v2' %>
          <li><%= link_to "V2 Search", vocabulary_search_results_path(id: "v2")  %></li>
        <% else %>
          <li><%= link_to "Search", vocabulary_search_results_path(id: "v3")  %></li>
        <% end %>

        <li><%= link_to "Releases", release_path %></li>

        <li><%= link_to "About", about_path %></li>

        <li><%= link_to "Contact", contact_path %></li>
      </ul>

    </div><!--/.nav-collapse -->
    <div>

    </div>
  </div>

</nav>

<div class="container-full" style="margin-top:50px;">
  <div class="container">
    <div class="starter-template">
      <% flash.each do |key, value| %>
           <% unless key.to_s == "recaptcha_error"%>
               <%= content_tag :div, value, class: "flash #{key}" %>
            <% end %>
      <% end %>
      <%= yield %>
    </div>
  </div><!-- /.container -->
</div>
<div class="footer" style="margin-top:50px; width:100%; color:white; background-color: #000000;">
  <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
    Homosaurus.org is a linked data service maintained by the <%= link_to("Digital Transgender Archive", "https://www.digitaltransgenderarchive.net") %>
  </div>
</div>

</body>
</html>

<div class="modal fade" id="homosaurus-main-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true" data-keyboard="false">Loading...</div>
