<!DOCTYPE html>
<html>
<head>
  <title>Homosaurus Vocabulary Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Google Analytics -->
  <%= render partial: '/ga', formats: [:html] %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg" role="navigation">
  <div class="container">
    
    <div class="navbar-header">
      <a class="navbar-brand">
	<%= image_tag("homosaurus_small.png", height: '40px') %>
      </a>
      <%= link_to "homosaurus.org", '/', class: "navbar-brand text-white" %>
      
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> -->
      <!--   <span class="sr-only">Toggle navigation</span> -->
      <!--   <span class="icon-bar"></span> -->
      <!--   <span class="icon-bar"></span> -->
      <!--   <span class="icon-bar"></span> -->
      <!-- </button> -->
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to t("menu.home"), '/', :class => "nav-link text-white" %></li>

        <% if request.original_url.include? '/terms' %>
          <li class="nav-item"><%= link_to "V1 Vocabulary", vocabulary_index_path(id: "terms"), :class => "nav-link text-white" %></li>
        <% elsif request.original_url.include? '/v2' %>
          <li class="nav-item"><%= link_to "V2 Vocabulary", vocabulary_index_path(id: "v2"), :class => "nav-link text-white" %></li>
        <% else %>
          <li class="nav-item"><%= link_to t("menu.vocab"), vocabulary_index_path(id: "v3"), :class => "nav-link text-white" %></li>
        <% end %>


        <% if request.original_url.include? '/terms' %>
          <li class="nav-item"><%= link_to "V1 Search", vocabulary_search_results_path(id: "terms"), :class => "nav-link text-white" %></li>
        <% elsif request.original_url.include? '/v2' %>
          <li class="nav-item"><%= link_to "V2 Search", vocabulary_search_results_path(id: "v2") , :class => "nav-link text-white" %></li>
        <% else %>
          <li class="nav-item"><%= link_to t("menu.search"), vocabulary_search_results_path(id: "v3") , :class => "nav-link text-white" %></li>
        <% end %>

        <li class="nav-item"><%= link_to t("menu.releases"), release_path, :class => "nav-link text-white" %></li>

        <li class="nav-item"><%= link_to t("menu.about"), about_path, :class => "nav-link text-white" %></li>

        <li class="nav-item"><%= link_to t("menu.contact"), contact_path, :class => "nav-link text-white" %></li>

        <% if current_user.blank? %>
          &nbsp;
        <% elsif current_user.present? %>
          <li class="nav-item dropdown user_account_link">
            <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false"><%= t("menu.account") %> <span class="caret"></span></a>
            <ul class="dropdown-menu text-bg-dark">
              <% if current_user.superuser? %>
                <li class="divider"></li>
                <li><%= link_to t("menu.roles"), role_management.roles_path, :class=>"dropdown-item text-white" %></li>
              <% end %>
              <% if current_user.superuser? || current_user.contributor? || current_user.admin? %>
                <li class="divider"></li>
                <li><%= link_to t("menu.add_term"), vocabulary_term_new_path(vocab_id: "v3"), :class=>"dropdown-item text-white" %></li>
              <% end %>
              <% if current_user.superuser? %>
                <li class="divider"></li>
              <li><%= link_to t("menu.manage_releases"), version_manage_path, :class=>"dropdown-item text-white" %></li>
	      <li><%= link_to t("menu.manage_users"), user_manage_path, :class=>"dropdown-item text-white" %></li>
                <li class="divider"></li>
                <li><%= link_to t("menu.reload"), restart_application_path, :class=>"dropdown-item text-white" %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to t("menu.logout"), destroy_user_session_path, :class=>"dropdown-item text-white" %></li>
            </ul>
          </li>
        <% end %>
	<li class="nav-item dropdown">
	  <a class="nav-link text-white dropdown-toggle"
	     data-bs-toggle="dropdown" href="#"
	     aria-haspopup="true" aria-expanded="false">
	    <%= t("languages." << I18n.locale.to_s) %> <span class="caret"></span>
          </a>
	  <ul class="dropdown-menu text-bg-dark">
	    <% I18n.available_locales.reject{|l| l == I18n.locale}.map{|l| l.to_s }.each do |loc| %>
	    <li class="divider"></li>
	    <li><%= link_to t("languages." << loc), request.original_url.gsub(/\/\/.*homosaurus/, "//homosaurus").gsub("homosaurus", loc << ".homosaurus").gsub("en.homo", "homo"), :class=>"dropdown-item text-white" %>
	    </li>
	    <% end %>
	  </ul>
	</li>
      </ul>
      </ul>

    </div><!--/.nav-collapse -->
  </div>

</nav>

<div class="container-full" style="margin-top:50px;">
  <div class="container">
    <div class="starter-template">
      <div class="flash_messages">
	<% if not current_user.present? %>
	<div class="alert alert-warning">Warning: This is the development site for version 4 of the Homosaurus. For the current stable website, please visit <a href="https://homosaurus.org">homosaurus.org</a>
	  <a class="close" data-dismiss="alert" href="#">&times;</a>
	</div>
	<% end %>
        <% [:success, :notice, :error, :alert].each do |type| %>
          <%- alert_class = case type
                            when :success then "alert-success"
                            when :notice  then "alert-info"
                            when :alert   then "alert-warning"
                            when :error   then "alert-danger"
                            else "alert-#{type}"
                            end
          -%>
          <% if flash[type] && flash[type].to_s != "recaptcha_error" %>
            <div class="alert <%=alert_class %>"><%= flash[type] %>
              <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </div><!-- /.container -->
</div>
<div class="footer" style="margin-top:50px; width:100%; color:white; background-color: #000000;">
  <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
    Homosaurus.org is a linked data service maintained by the <%= link_to("Digital Transgender Archive", "https://www.digitaltransgenderarchive.net") %> <br />
    This vocabulary is made available under a <%= link_to("Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International license", "https://creativecommons.org/licenses/by-nc-nd/4.0/") %>.
  </div>
</div>

</body>
</html>

<div class="modal fade" id="homosaurus-main-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true" data-keyboard="false">Loading...</div>
