<%
  panel_class ||= 'primary'
  title ||= ''
  values ||= []
%>
<% if values[0].present? %>
  <div class="card card-<%=panel_class%> mb-3 col-lg-6 col-md-8 col-sm-12">

  <div class="card-header text-bg-<%=panel_class%>">
    <%= title.html_safe %>
  </div>
  <div class="card-body">
    <dl style="margin-bottom:0px">
      <table width="100%">
        <% values.each do |value| %>
        <tr>
          <td><%= value[1]  %></td>

          <td width="100px;"><div class="well_language clear:both;">
              <%= value[0] %>
          </div></td>
        </tr>
        <% end %>
      </table>
    </dl>
  </div>
  </div>
<% end %>
