<%
  panel_class ||= 'primary'
  title ||= ''
  values ||= []
%>
<% if values[0].present? %>
  <div class="card card-<%=panel_class%> mb-3 col-lg-6 col-md-8 col-sm-12">

  <div class="card-header text-bg-<%=panel_class%>">
  <% if rel_id != "identifier" %>    
    <a class="text-white" href="<%= Relation.find_by(id: rel_id).description_url %>"><%= t("relations.#{rel_id}") %></a>
  <% else %>
    <a class="text-white" href="http://purl.org/dc/terms/identifier">Identifier</a>
  <% end %>    
  </div>
  <div class="card-body">
    <dl style="margin-bottom:0px">
      <table width="100%">
        <% values.each do |value| %>
        <tr>
          <td><%= value[1]  %></td>

          <td width="100px;"><div class="well_language clear:both;">
              <%= value[0] %>
          </div></td>
        </tr>
        <% end %>
      </table>
    </dl>
  </div>
  </div>
<% end %>
